@mixin on-hover {
  cursor: pointer;
  .on-hover {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 10px, 0);
    transition: visibility 0.3s, opacity 0.3s, transform 0.3s ease-out;
    will-change: opacity, transform;
  }
  &:hover {
    .on-hover {
      visibility: visible;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
