// blacks
$realBlack: grayscale(#000);
$black: grayscale(#25282b);
$black2: grayscale(#0d0d0d);
$black3: grayscale(#0000008b);
$font-black: grayscale(#212121);
$light-black: grayscale(#6e6c68);
$darkquote: grayscale(#555555);
// greys

$grey: grayscale(#cccccc);
$dark-grey: grayscale(#7b7b7b);
$dark-grey2: grayscale(#d5d5d5);
$dark-grey3: grayscale(#c4c4c4);
$dark-grey4: grayscale(#c9c9c9);
$dark-grey5: grayscale(#c4c0ab);
$dark-grey6: grayscale(#d5d5c6);
$light-grey: grayscale(#e2e2e2);
$light-grey2: grayscale(#f9f9f7);
$light-grey3: grayscale(#f7f6ef);
$light-grey4: grayscale(#ddd8c2);
$light-grey5: grayscale(#aaa8a0);
$light-grey6: grayscale(#e3e3e3);
$light-grey7: grayscale(#a7a7a7);
$light-grey8: grayscale(#eae5d6);
$border-grey: grayscale(#eaeaea);
$border-light: grayscale(#edece2);
$taupe-grey: grayscale(#b1ad99);
$yellow-grey: grayscale(#f2efe1);
$grey-text: grayscale(#a5a294);
$grey-avatar: grayscale(#b9b5a1);
$grey-border: grayscale(#dbdbdb);
$grey-flashcard: grayscale(#d1cdb6);
$grey-button: grayscale(#a5a18d);
$greyTabButton: grayscale(#e4e3d8);
$greyBorderBottom: grayscale(#e8e6db);
$breadCrump: grayscale(#b9b5a3);
// yellows
$yellow: grayscale(#ffde17);
$yellow2: grayscale(#ffeb7c);

$orange: grayscale(#f98606);
$lightOrange: grayscale(#ffdca5);
$strongOrange: grayscale(#ea7500);

// whites
$white: grayscale(#fff);
$bone-white: grayscale(#fffdf2);
$teeth-white: grayscale(#f9f9f7);
$dirty-white: grayscale(#e3e2d3);
$quarter-spanish-white: grayscale(#f7f4e4);

// greens
$green: grayscale(#7e9f44);
$lightGreen: grayscale(#d9f7d9);
$flashcardGreen: grayscale(#f0fff7);

// reds
$red: grayscale(#f14336);
$red2: grayscale(#e63565);
$pink: grayscale(#d05c91);
$lightRed: grayscale(#f2d1e3);

// violets
$lightViolet: grayscale(#ded9f7);

// blues
$blue: grayscale(#4267b2);
$facebook: grayscale(#385db2);
$twitter: grayscale(#21a2f4);
$linkedin: grayscale(#0097cb);
$blueBar: grayscale(#2994ef);
$lightBlue: grayscale(#d9efff);
$blueLink: grayscale(#1c76b7);

$minHeight: calc(100vh - 321px);
