@import './src/style/scss/01_abstracts';

.pagination-area {
  margin-top: 35px;

  .page-numbers {
    width: 33px;
    height: 33px;
    background-color: #f3f0f0;
    color: $color-text-primary;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    line-height: 34px;
    position: relative;
    margin: {
      left: 3px;
      right: 3px;
    }
    font: {
      size: $font-size-base;
      weight: 800;
    }
    &:hover,
    &.current {
      color: $color-whitish;
      background-color: $color-primary;
    }
    i {
      position: relative;
      top: 1.5px;
    }
  }

  /* Max width 767px */
  @media screen and ($max-viewport-7) {
    margin-top: 20px;
  }
}
