@import "./src/style/scss/base/vars";

.pagination-area {
  margin-top: 35px;

  .page-numbers {
    width: 33px;
    height: 33px;
    background-color: #f3f0f0;
    color: $optional-color;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    line-height: 34px;
    position: relative;
    margin: {
      left: 3px;
      right: 3px;
    }
    font: {
      size: $font-size;
      weight: 800;
    }
    &:hover,
    &.current {
      color: $white-color;
      background-color: $main-color;
    }
    i {
      position: relative;
      top: 1.5px;
    }
  }

  /* Max width 767px */
  @media only #{$media} and ($feature_max : $value_two) {
    margin-top: 20px;
  }
}
