@import "../../../scss/common";

.login-data-form {
  margin-top: 25px;
  .input {
    label {
      @include typo-paragraph-normal();
      padding-left: 7px;
    }
    input {
      padding: 11px 15px;
      @include typo-paragraph-bold();
      line-height: 18px;
    }
  }
  .button.transparent {
    background: transparent;
    border: 0;
    outline: none;
    color: $font-black;
    text-align: left;
    padding: 11px 15px;
    padding-left: 7px;
    @include typo-paragraph-bold();
    line-height: 18px;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $green;
    }
  }
  .button-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 15px;
    .button {
      @include typo-paragraph-bold();
      padding: 11px 25px;
    }
  }
}
