@import "./src/style/scss/base/vars";

.single-advisor-item {
  margin-bottom: 30px;
  border-radius: 5px 5px 0 0;
  background-color: $white-color;
  box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.1);
  text-align: center;

  .advisor-image {
    border-radius: 5px 5px 0 0;
    position: relative;

    img {
      border-radius: 5px 5px 0 0;
    }
  }
  .advisor-content {
    padding: 22px;

    h3 {
      margin-bottom: 0;
      font: {
        size: 23px;
        weight: 800;
      }
    }
    span {
      display: block;
      color: $main-color;
      margin-top: 7px;
      font: {
        size: 15px;
        weight: 600;
      }
    }
  }

  /* Max width 767px */
  @media only #{$media} and ($feature_max : $value_two) {
    .advisor-content {
      h3 {
        font-size: 19px;
      }
      span {
        font-size: 13.5px;
      }
    }
  }

  /* Min width 768px Max width 991px */
  @media only #{$media} and ($feature_min : $value_three) and ($feature_max : $value_four) {
    .advisor-content {
      h3 {
        font-size: 19px;
      }
      span {
        font-size: 14px;
      }
    }
  }
}
