@import '../../../../../style/scss/01_abstracts';

// TODO: refactor me

.course-timetable {
  margin-bottom: 0;
  list-style-type: none;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 15px;

  &__lesson {
    display: block;
    margin: 8px 0;
    width: 100%;
    cursor: pointer;

    h3 {
      font: {
        size: 20px;
        weight: 800;
      }
    }

    > i.bx {
      transition: transform 0.5s;
    }

    &:hover {
      > i.bx {
        transform: rotate(180deg);
      }
    }

    &:not(:first-child) {
      h3 {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #e8e9eb;
      }
    }
  }

  &__lesson-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
  }

  &__duration {
    text-align: right;
    flex-shrink: 0;
  }
}
