@import "../../../scss/common";

.page-header-wrapper {
  padding-bottom: 20px;
  @include media-breakpoint-down(md) {
    padding-bottom: 0px;
    padding-top: 60px;
    background: $yellow;
  }
}

.courses-header {
  height: 100px;
  background: $bone-white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 26px;
  @include media-breakpoint-down(md) {
    height: auto;
    padding-bottom: 60px;
  }

  h1 {
    color: $font-black;
    @include typo-heading-big-bold();
  }
}
