@import "../../../scss/common";

.error-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: inherit;
  text-align: left;
  a {
    @include typo-paragraph-big();
    color: $green;
    text-decoration: underline;
  }
}
