@import '../../../../../../style/scss/01_abstracts';

.course-timetable-topic-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;

  &__topic {
    display: block;

    &:nth-child(even) {
      a {
        background-color: $color-whitish;
      }
    }
  }
}
