node_modules
build
dist
.idea
!yarn.lock
.env.production
.DS_Store
*/**/.DS_Store
.DS_Store?
yarn-error*
.env
package-lock.json
build.sh
capacitor.config.ts
android
ios
public/firebase-messaging-sw.js
# Sentry Config File
.env.sentry-build-plugin
