version: '3'

volumes:
  frontend-node-modules: ~

services:
  build:
    image: node:14-alpine
    volumes:
      - ./:/srv/app
      - frontend-node-modules:/srv/app/node_modules/
    working_dir: /srv/app
    command: "sh -c 'yarn &&  yarn build'"
