// ------ utils theme colors ------
$color-whitish: #ffffff;
$color-blackish: #221638;

// ------ brand theme colors ------

$color-primary: #fe4a55;
//$color-primary-light: #000000;
//$color-primary-dark: #000000;

$color-second: #6ba292;
//$color-second-light: #000000;
//$color-second-dark: #000000;

//$color-third: #000000;
//$color-third-light: #000000;
//$color-third-dark: #000000;

// ------ main theme colors ------

//$color-success: green; // TODO: set color
//$color-success-light: green;
//$color-success-dark: green;

//$color-error: red; // TODO: set color
//$color-error-light: red;
//$color-error-dark: red;

$color-text-primary: #606060; // TODO: old name 'optional color'
$color-text-primary-light: #d0d0d0;
//$color-text-primary-dark: #000000;

$color-section-light-bg: #f8f9f8;

$color-text-second: $color-blackish;
//$color-text-second-light: #000000;
//$color-text-second-dark: #000000;

$color-text-highlight: $color-primary;
//$color-text-highlight-light: #000000;
//$color-text-highlight-dark: #000000;

$color-link: $color-blackish;
$color-link-hover: $color-primary;

//$color-bg-primary: #000000;
//$color-bg-primary-light: #000000;
//$color-bg-primary-dark: #000000;

//$color-bg-second: #000000;
//$color-bg-second-light: #000000;
//$color-bg-second-dark: #000000;

// ------ sections theme colors ------

//$color-section-light-bg: $color-whitish;
//$color-section-light-text: $color-text-primary;
//$color-section-light-text-highlight: $color-text-highlight;

//$color-section-dark-bg: $color-blackish;
//$color-section-dark-text: $color-whitish;
//$color-section-dark-text-highlight: $color-text-highlight;

$color-footer-bg: #100f1f;
$color-footer-text: $color-whitish;
