$viewport-2: 'min-width: 280px';
$viewport-3: 'min-width: 320px';
$viewport-4: 'min-width: 480px';
$viewport-5: 'min-width: 576px';
$viewport-6: 'min-width: 640px';
$viewport-7: 'min-width: 768px';
$viewport-8: 'min-width: 850px';
$viewport-9: 'min-width: 992px';
$viewport-10: 'min-width: 1024px';
$viewport-11: 'min-width: 1100px';
$viewport-12: 'min-width: 1200px';
$viewport-128: 'min-width: 1280px';
$viewport-13: 'min-width: 1366px';
$viewport-14: 'min-width: 1440px';
$viewport-16: 'min-width: 1680px';
$viewport-18: 'min-width: 1860px';
$viewport-19: 'min-width: 1920px';
$viewport-20: 'min-width: 2020px';
$viewport-24: 'min-width: 2420px';

$max-viewport-3: 'max-width: 319px';
$max-viewport-4: 'max-width: 479px';
$max-viewport-5: 'max-width: 575px';
$max-viewport-6: 'max-width: 639px';
$max-viewport-7: 'max-width: 767px';
$max-viewport-8: 'max-width: 849px';
$max-viewport-9: 'max-width: 991px';
$max-viewport-10: 'max-width: 1023px';
$max-viewport-11: 'max-width: 1099px';
$max-viewport-12: 'max-width: 1199px';
$max-viewport-128: 'max-width: 1279px';
$max-viewport-13: 'max-width: 1365px';
$max-viewport-14: 'max-width: 1439px';
$max-viewport-16: 'max-width: 1679px';
$max-viewport-18: 'max-width: 1859px';
$max-viewport-19: 'max-width: 1919px';
$max-viewport-24: 'max-width: 2419px';
