// preloader
$z-index-preloader: 1100;

// modals
$z-index-lightbox: 1000; // just for information, z-index for the lightbox is set in its package
$z-index-modal: 1000;
$z-index-modal-overlay: $z-index-modal - 1;
$z-index-course-preview-modal: 1000;

$z-index-scroll-top-btn: 500;
$z-index-top-progress: 500;

$z-index-course-navbar: 100;
$z-index-navbar: 100;
$z-index-navbar-dropdown: $z-index-navbar + 1;

$z-index-course-sidebar: 1;
