@import "../../../scss/common";

.icon {
  &.black {
    svg,
    path {
      fill: $font-black;
    }
  }

  &.gray {
    svg,
    path {
      fill: $dark-grey3;
    }
  }
  &.light-gray {
    svg,
    path {
      fill: $dirty-white;
    }
  }
  &.green {
    svg,
    path {
      fill: $green;
    }
  }
  &.white {
    svg,
    path {
      fill: $white;
    }
  }
  &.yellow {
    svg,
    path {
      fill: $yellow;
    }
  }
  &.grey {
    svg,
    path {
      fill: $border-light;
    }
  }
  &.dark-quote {
    svg,
    path {
      fill: $darkquote;
    }
  }
}
