@import "../../../../scss/common";

.nav,
.auth__nav {
  ul {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
      list-style: none;
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0;
      }
      > a {
        @include typo-nav-item-bold();
        color: $yellow;
        text-decoration: none;
        letter-spacing: -0.24px;
        transition: color 0.3s ease-in-out;
        &:hover {
          text-decoration: underline;
        }
        &.active {
          color: $black;
        }
      }
    }
  }
}
