@import "../../../scss/common";

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 25px;
  margin-right: 30px;
  &__label {
    @include typo-paragraph-normal();
    margin-right: 15px;
    margin-top: -3px;
  }
}
