@import '../../../../../../style/scss/01_abstracts';

.course-timetable-topic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  max-width: 100%;
  padding: 5px 0;
  background-color: #f8f9f8;

  &__title {
    color: #221638;
    font-size: 14.5px;
    font-weight: 700;
    vertical-align: middle;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__title-icon {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    z-index: 1;
    border-radius: 50%;
    font-size: 16px;
    transition: 0.5s;
    background-color: $color-primary;
    color: $color-primary;
    position: relative;
    display: inline-flex !important; // TODO
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 5px;

    &::before {
      text-decoration: none;
      display: inline-block;
      position: absolute;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 50%;
      z-index: -1;
      margin: 2px 1px 1px 2px;
      transition: $transition;
      background-color: $color-whitish;
    }
  }

  &__meta {
    text-align: right;
    flex-shrink: 1;
    flex-grow: 0;
    float: left;
    max-width: 30%;
    min-width: min-content;
  }

  &.active {
    .course-timetable-topic__title {
      text-decoration: underline;
    }
  }

  &:hover {
    .course-timetable-topic__title {
      color: $color-primary;
    }
  }

  &.active,
  &:hover {
    .course-timetable-topic__title-icon {
      color: $color-whitish;
      background-color: #a3c5bb;

      &::after {
        background-color: $color-second;
      }
    }
  }

  &.finished {
    .course-timetable-topic__title-icon {
      color: $color-whitish;
      background-color: $color-primary;

      &::after {
        background-color: $color-primary;
      }
    }
  }
}
