@import "../../../scss/common";

article.courses {
  background: $bone-white;
  .page-header-wrapper {
    @include media-breakpoint-down(lg) {
      padding-top: 10px;
    }
  }
  .courses__section-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    h2 {
      padding-right: 10px;
    }
    h4 {
      @include typo-paragraph-normal();
    }
  }
  .course-grid-item {
    margin-bottom: 32px;
    margin-top: 10px;
  }
}
