.top-progress {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 90999;

  &__bar {
    background: #fe4a55; // TODO: move to vars
    height: 4px;
    transition: width 1s ease-out;
  }
}
