@import "../../../../scss/common";
.course-cart {
  width: 350px;
  background-color: $white;
  padding-top: 20px;
  color: $font-black;
  position: relative;

  > h3 {
    padding: 0 40px 0 30px;
    margin-bottom: 15px;
    @include typo-heading-small();
  }

  &.active {
    position: fixed;
    top: -30px;
  }

  .cart-details {
    list-style: none;
    padding: 0 40px 0px 30px;
    li {
      @include typo-paragraph-normal();
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
    }
  }
  .cart-footer {
    background-color: $white;
    position: relative;
    margin-top: 30px;

    ul {
      list-style: none;
      padding: 20px 40px 0px 30px;
      li {
        @include typo-paragraph-big();
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        span {
          @include typo-heading-small();
        }
      }
    }
    .button-wrapper {
      padding: 10px 40px 40px 30px;
      .button {
        width: 100%;
        margin-bottom: 12px;
        cursor: pointer;
        &.primary {
          @include typo-heading-small();
          color: $white;
        }
        &.secondary {
          padding-left: 10px;
          padding-right: 10px;
          text-align: center;
          &:before {
            display: none;
          }
        }
        small {
          display: block;
          @include typo-tiny();
        }
      }
    }
  }
}
