@import "../../../../scss/common";

.button {
  font-size: 1.7rem;
  line-height: normal;
  letter-spacing: 1px;
  padding: 11px 50px;
  color: $white;
  background: $green;
  border-radius: 6px;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  outline: 0;
  -webkit-appearance: none;
  border-radius: 4px;
  border: transparent;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  display: block;

  @include typo-paragraph-big();
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: 0;
  }

  &:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -10px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  &.loading {
    pointer-events: none;
    background: lighten($green, 15);
    padding-left: 19 + 20px;
    &:before {
      display: inline-block;
      content: "";
      opacity: 1;
      background: url("./../../../../images/loader.svg") no-repeat;
      background-size: contain;
    }
  }
  &.primary {
    background-color: $green;
    &:hover {
      background: lighten($green, 15);
    }
  }
  &.secondary {
    background-color: $white;
    color: $green;
    border: 1px solid $green;
    &:hover {
      background: darken($white, 10);
    }
  }
  &.blue {
    background-color: $blue;
    color: $white;
    position: relative;
    &:hover {
      background: lighten($blue, 15);
    }
  }
  &.blueTwitter {
    background-color: $twitter;
    color: $white;
    position: relative;
    &:hover {
      background: lighten($twitter, 15);
    }
  }

  &.blueLinkedin {
    background-color: $linkedin;
    color: $white;
    position: relative;
    &:hover {
      background: lighten($linkedin, 15);
    }
  }
  &.grey {
    background-color: $light-grey;
    color: $black;
    &:hover {
      background: $yellow;
    }
  }
  &.black {
    background-color: $black;
    color: $yellow;
    &:hover {
      background-color: rgba($black, 0.7);
    }
  }
  &.red {
    background-color: $red;
    &:hover {
      background: lighten($red, 15);
    }
  }
  &.yellow {
    background: $yellow;
    color: $font-black;
    &:hover {
      background: lighten($yellow, 15);
    }
  }
  &.transparent {
    background: transparent;
    border: 1px solid $white;
    color: $white;
    &:hover {
      background: $white;
      color: $green;
    }
  }
  &.round {
    border-radius: 24px;
    &.bigger {
      padding: 19px 33px;
      min-width: 120px;
    }
  }

  &.orange {
    background-color: $strongOrange;
    padding: 6px 14px;
    font-size: 1.5rem;
    transition: padding 0.3s ease-in-out;
    &.loading {
      padding: 11px 50px;
    }
  }
  &.small {
    padding: 9px 25px;
    @include typo-paragraph-bold();
  }
  &.tiny {
    padding: 8px 16px;
    @include typo-tiny-bold();
  }
  &.huge {
    @include typo-heading-small();
    padding: 12px 110px;
    border-radius: 7px;
  }
  &.social {
    .icon {
      position: absolute;
      left: 10px;
      width: 20px;
    }
  }
  &[disabled],
  &.disabled {
    pointer-events: none;
    background: $light-grey;
  }
  &.close {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgba($light-grey, 0.6);
    z-index: 1;
    text-align: center;
    line-height: 31px;
    cursor: pointer;
    padding: 0;
  }
  &.self-center {
    margin: 0 auto;
  }
}

a.button {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
}
