@import './src/style/scss/base/vars';

.cart-totals {
  background: $white-color;
  padding: 40px;
  max-width: 500px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin: {
    top: 60px;
    left: auto;
    right: auto;
  }
  h3 {
    margin-bottom: 25px;
    font: {
      size: 24px;
      weight: 800;
    }
  }
  ul {
    padding-left: 0;
    margin: 0 0 25px;
    list-style-type: none;

    li {
      border: 1px solid #eaedff;
      padding: 10px 15px;
      color: $black-color;
      overflow: hidden;
      font: {
        weight: 700;
      }
      &:first-child {
        border: {
          bottom: none;
        }
      }
      &:last-child {
        font-size: 20px;
        border: {
          top: none;
        }
        span {
          color: $black-color;
          font-weight: 600;
        }
      }
      span {
        float: right;
        color: $optional-color;
        font: {
          weight: normal;
        }
      }
    }
  }
}

/* Max width 767px */
@media only #{$media} and ($feature_max : $value_two) {
  .cart-totals {
    padding: 20px;
    max-width: 100%;
    margin: {
      top: 40px;
    }
    h3 {
      font-size: 18px;
    }
    ul {
      margin-bottom: 20px;

      li {
        &:last-child {
          font-size: 18px;
        }
      }
    }
  }
}

/* Min width 768px Max width 991px */
@media only #{$media} and ($feature_min : $value_three) and ($feature_max : $value_four) {
  .cart-totals {
    h3 {
      font-size: 20px;

      &:last-child {
        font-size: 18px;
      }
    }
  }
}

/* Min width 992px Max width 1199px */
@media only #{$media} and ($feature_min : $value_five) and ($feature_max : $value_six) {
  .cart-totals {
    h3 {
      font-size: 22px;
    }
  }
}
