@import "../../../../scss/common";

.curriculum-header {
  background-color: $white;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 68px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-left: 38px;
      h3,
      p {
        color: $black;
        margin: 0;
        line-height: 1.3;
      }
      p {
        @include typo-paragraph-big-light();
      }
    }
  }
  button {
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: flex-end;
    border: 0;
    color: $black;
    opacity: 0.45;
    transition: opacity 0.2s ease-in-out;
    .icon {
      width: 27px;
      height: 27px;
      margin-left: 8px;
      svg {
        fill: $black;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  .loader {
    margin-right: -40px;
  }
}
