.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black-color;
}

a {
  color: $black-color;
  transition: $transition;
  text-decoration: none;

  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}

// fonts

body {
  font: {
    size: $font-size;
    family: $font-family;
  }
}

p {
  line-height: 1.6;
  font-size: $font-size;
}

/* Max width 767px */
@media only #{$media} and ($feature_max : $value_two) {
  body {
    font-size: 14.5px;
  }

  p {
    font-size: 14.5px;
    line-height: 1.7;
  }
}

/* Min width 768px Max width 991px */
@media only #{$media} and ($feature_min : $value_three) and ($feature_max : $value_four) {
  body {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
}
