blockquote,
.blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 50px !important;
  position: relative;
  text-align: center;
  z-index: 1;
  margin: {
    bottom: 20px;
    top: 20px;
  }
  p {
    color: $color-blackish;
    line-height: 1.6;
    margin-bottom: 0;
    font: {
      style: italic;
      weight: 700;
      size: 22px !important;
    }
  }
  cite {
    display: none;
  }
  &::before {
    color: #efefef;
    position: absolute;
    animation: fade-up 1.5s infinite linear;
    left: 50px;
    top: -50px;
    z-index: -1;
    content: '\f10a';
    font: {
      family: Flaticon;
      size: 135px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: $color-primary;
    margin: {
      top: 20px;
      bottom: 20px;
    }
  }
}

/* Max width 767px */
@media screen and ($max-viewport-7) {
  blockquote,
  .blockquote {
    padding: 20px !important;

    p {
      font-size: 17px !important;
    }
  }
}

/* Min width 768px Max width 991px */
@media screen and ($viewport-7) and ($max-viewport-9) {
  blockquote,
  .blockquote {
    padding: 30px !important;

    p {
      font-size: 19px !important;
    }
  }
}

/* Min width 992px Max width 1199px */
@media screen and ($viewport-9) and ($max-viewport-12) {
  blockquote,
  .blockquote {
    padding: 40px !important;

    p {
      font-size: 20px !important;
    }
  }
}
