.container {
  max-width: 1230px;
}

/* Max width 767px */
@media screen and ($max-viewport-7) {
  .container {
    max-width: 100%;
  }
}

/* Min width 576px Max width 767px */
@media screen and ($viewport-5) and ($max-viewport-7) {
  .container {
    max-width: 540px;
  }
}

/* Min width 768px Max width 991px */
@media screen and ($viewport-7) and ($max-viewport-9) {
  .container {
    max-width: 720px;
  }
}

/* Min width 992px Max width 1199px */
@media screen and ($viewport-9) and ($max-viewport-12) {
  .container {
    max-width: 960px;
  }
}

/* Min width 1200px Max width 1355px */
@media screen and ($viewport-12) and ($max-viewport-13) {
  .container {
    max-width: 1140px;
  }
}
