.course-program {
  // display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.course-program-player {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  min-height: calc(100vh - 100px);
  max-width: calc(100vw - 350px);
  position: relative;

  > iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 220px;
  }
  &.scorm {
    iframe {
      overflow: auto;
      resize: both;
    }
  }
}

.course-program-player-next {
  flex-basis: 100%;
  text-align: center;
  margin: 1em;
  padding: 1em;
}

.course-program-player-content {
  width: 100%;
  // min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  > h2 {
    font-weight: 800;
  }
  > .h5p-player {
    width: 100%;
  }

  > .typebase {
    margin-top: 5em;
    margin-bottom: 5em;
  }

  &__wrapper {
    width: 100%;
  }

  .pagination-area {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    color: $color-text-primary-light;
    font: {
      size: 1rem;
      weight: 700;
    }

    .nav-btn-modal {
      width: 33px;
      height: 33px;
      background-color: $color-section-light-bg;
      border: none;
      color: $color-text-primary;
      text-align: center;
      display: inline-block;
      border-radius: 3px;
      line-height: 34px;
      position: static;
      margin: {
        left: 6px;
      }
      font: {
        size: 1rem;
        weight: 800;
      }
      &:hover,
      &.current {
        color: $color-whitish;
        background-color: $color-primary;
      }
      i {
        position: relative;
        top: 1.5px;
      }
    }
  }
}

.course-program-content__container {
  width: 100%;
  border-top: 1px solid #eeeeee;
}

.course-program-summary {
  margin-top: 10px;
  margin-right: auto;
  padding: 10px;

  .file-list {
    display: flex;
    flex-direction: column;
  }
  a {
    color: $color-primary;
  }
}

.course-program {
  .topic-video-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      position: absolute;
      padding-left: 30px;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      z-index: 1;
    }
  }
}

.course-program-wrapper {
  display: flex;
  width: 100%;
}

// TODO: tmp, class change this
.course-program-page {
  .course-program-player {
    margin-top: 150px;
    width: calc(100vw - 450px);
    margin-right: 50px;
  }

  .course-program-player-content {
    justify-content: flex-start;
  }

  .course-program-player-content__wrapper {
    text-align: center;
    padding: 20px;
    margin: 60px auto 20px;
    .scorm-wrapper {
      > iframe {
        min-height: 600px;
        width: 100%;
        border: none !important;
      }
    }
    .image-player {
      .escolalms-image {
        margin: 0 auto;
      }
    }
  }

  .course-program-wrapper-preview {
    .course-program-player {
      margin-top: 150px;
    }
  }
}
