.form-control {
  height: 50px;
  padding: 1px 0 0 15px;
  border-radius: 3px;
  border: 1px solid #f5f5f5;
  color: $color-blackish;
  background-color: #f5f5f5;
  box-shadow: unset !important;
  transition-property: color, border-color, background-color;
  transition-duration: 0.5s;
  font: {
    size: 1rem;
    weight: 400;
  }
  &::placeholder {
    color: #7e7e7e;
    transition: color 0.5s;
  }
  &:focus {
    border-color: $color-primary;
    background-color: transparent;

    &::placeholder {
      color: transparent;
    }
  }
}
textarea.form-control {
  height: auto;
  padding-top: 15px;
}

/* Max width 767px */
@media screen and ($max-viewport-7) {
  .form-control {
    height: 48px;
    font-size: 14.5px;
  }
}
