@import './../01_abstracts';

.login-form {
  padding: 40px 50px;
  border-radius: 5px;
  background-color: $color-whitish;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
  margin-right: 30px;

  h2 {
    margin-bottom: 25px;
    font: {
      size: 36px;
      weight: 800;
    }
  }

  &__submit-button {
    margin-top: 22px;
    border: none;
    display: block;
    text-align: center;
    overflow: hidden;
    color: $color-whitish;
    background-color: $color-primary;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    width: 100%;
    border-radius: 5px;
    padding: 14.5px 30px;
    font: {
      weight: 700;
      size: 1rem;
    }

    &:hover {
      background-color: $color-blackish;
      color: $color-whitish;
    }
  }

  &__lost-password-button {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    transition: color 0.2s ease;

    &:hover,
    &:focus {
      color: $color-link-hover;
      outline: none;
    }
  }

  form {
    .form-group {
      margin-bottom: 25px;

      label {
        display: block;
        margin-bottom: 8px;
        color: $color-blackish;
        font-weight: 700;
      }
    }
    .remember-me-wrap {
      margin-bottom: 0;

      [type='checkbox']:checked,
      [type='checkbox']:not(:checked) {
        display: none;
      }
      [type='checkbox']:checked + label,
      [type='checkbox']:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        margin-bottom: 0;
        color: $color-text-primary;
        font: {
          weight: 600;
        }
      }
      [type='checkbox']:checked + label:before,
      [type='checkbox']:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 19px;
        height: 19px;
        transition: all 0.2s ease;
        border: 1px solid #f5f5f5;
        border-radius: 3px;
        background: #f5f5f5;
      }
      [type='checkbox']:checked + label:after,
      [type='checkbox']:not(:checked) + label:after {
        content: '';
        width: 8px;
        height: 8px;
        background: $color-primary;
        position: absolute;
        top: 5.5px;
        left: 6px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      [type='checkbox']:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      [type='checkbox']:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      [type='checkbox']:hover + label:before {
        border-color: $color-primary;
      }
      [type='checkbox']:checked + label:before {
        border-color: $color-primary;
      }
    }
    .lost-your-password-wrap {
      text-align: right;
    }
  }
}

/* Max width 767px */
@media screen and ($max-viewport-7) {
  .login-form {
    padding: 30px 20px;
    margin-right: 0;

    h2 {
      margin-bottom: 20px;
      text-align: center;
      font-size: 25px;
    }
    form {
      .lost-your-password-wrap {
        text-align: left;
        margin-top: 15px;
      }
      button {
        padding: 13px 30px;
        font-size: 15px;
      }
    }
  }
}

/* Min width 768px Max width 991px */
@media screen and ($viewport-7) and ($max-viewport-9) {
  .login-form {
    margin-right: 0;

    h2 {
      font-size: 30px;
    }
  }
}

/* Min width 992px Max width 1199px */
@media screen and ($viewport-9) and ($max-viewport-12) {
  .login-form {
    padding: 30px 40px;

    h2 {
      font-size: 30px;
    }
  }
}
