@import './src/style/scss/01_abstracts';

.modal {
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: $z-index-modal;
  }
  > div {
    z-index: $z-index-modal-overlay;
  }
  &.show {
    display: block;
  }
}
