.privacy-policy-area {
  padding: {
    top: 100px;
    bottom: 100px;
  }

  /* Max width 767px */
  @media screen and ($max-viewport-7) {
    padding: {
      top: 60px;
      bottom: 60px;
    }
  }

  /* Min width 768px Max width 991px */
  @media screen and ($viewport-7) and ($max-viewport-9) {
    padding: {
      top: 80px;
      bottom: 80px;
    }
  }
}
