.widget-area {
  padding-left: 15px;

  .widget {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
    .widget-title {
      margin-bottom: 25px;
      position: relative;
      padding-bottom: 7px;
      border-bottom: 1px solid #eeeeee;
      font: {
        size: 22px;
        weight: 800;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        bottom: -1px;
        background-color: $color-primary;
      }
    }
  }
  .widget_search {
    form {
      position: relative;

      .screen-reader-text {
        display: none;
      }
      label {
        display: block;
        margin-bottom: 0;
      }
      .search-field {
        height: 50px;
        color: $color-blackish;
        background-color: #f2f4f5;
        display: block;
        width: 100%;
        border-radius: 5px;
        padding: 0 0 0 15px;
        border: none;
        transition-property: color, border-color, background-color;
        transition-duration: 0.5s;
        padding-right: 50px;
        font: {
          size: 1rem;
          weight: 500;
        }
        &::placeholder {
          color: $color-text-primary;
          transition: color 0.5s;
        }
        &:focus {
          outline: none;

          &::placeholder {
            color: transparent;
          }
        }
      }
      button {
        border: none;
        background-color: transparent;
        color: $color-primary;
        height: 40px;
        width: 40px;
        position: absolute;
        right: 5px;
        padding: 0;
        transition-property: color, background-color;
        transition-duration: 0.5s;
        top: 5px;
        font-size: 20px;

        i {
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &:hover,
        &:focus {
          border-radius: 5px;
          background-color: $color-primary;
          color: $color-whitish;
        }
      }
    }
  }

  .widget_tag_cloud {
    .widget-title {
      margin-bottom: 17px;
    }
  }
  .tagcloud {
    // a {
    //   display: inline-block;
    //   background: #f5f5f5;
    //   color: $color-blackish;
    //   padding: 7px 15px;
    //   border: none;
    //   border-radius: 3px;
    //   font: {
    //     weight: 700;
    //     size: 14px !important;
    //   }
    //   margin: {
    //     top: 8px;
    //     right: 4px;
    //   }
    //   &:hover,
    //   &:focus {
    //     color: $color-whitish;
    //     background-color: $color-primary;
    //   }
    // }
  }
  .widget_insight {
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        margin-bottom: -1px;

        a {
          position: relative;
          display: block;
          padding: 15px 25px 15px 40px;
          color: $color-text-primary;
          border: 1px solid #eeeeee;
          font: {
            size: 1rem;
            weight: 700;
          }
          &::before {
            width: 5px;
            height: 5px;
            transition-property: background-color;
            transition-duration: 0.5s;
            background-color: $color-text-primary;
            content: "";
            position: absolute;
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
          }
          &:hover,
          &.active {
            border-color: $color-primary;
            background-color: $color-primary;
            color: $color-whitish;

            &::before {
              background-color: $color-whitish;
            }
          }
        }
        &.active {
          a {
            border-color: $color-primary;
            background-color: $color-primary;
            color: $color-whitish;

            &::before {
              background-color: $color-whitish;
            }
          }
        }
      }
    }
  }
  .widget_recent_courses {
    position: relative;
    overflow: hidden;

    .widget-title {
      margin-bottom: 30px;
    }
    .item {
      overflow: hidden;
      margin-bottom: 20px;
      border-bottom: 1px solid #eeeeee;
      padding-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
      }
      .thumb {
        float: left;
        height: 80px;
        overflow: hidden;
        display: block;
        position: relative;
        width: 80px;
        margin-right: 15px;
        z-index: 1;

        .fullimage {
          width: 80px;
          height: 80px;
          display: inline-block;
          border-radius: 3px;
          background: {
            size: cover !important;
            repeat: no-repeat;
            position: center center !important;
          }
          &.bg1 {
            background-image: url(/images/courses/courses1.jpg);
          }
          &.bg2 {
            background-image: url(/images/courses/courses2.jpg);
          }
          &.bg3 {
            background-image: url(/images/courses/courses3.jpg);
          }
        }
        &::before,
        &::after {
          transition: all 0.8s cubic-bezier(0.2, 1, 0.22, 1);
          content: "";
          background-color: $color-whitish;
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          opacity: 0;
          transform: translate(-50%, -50%);
        }
        &::before {
          width: 40px;
          height: 1px;
          left: 100%;
        }
        &::after {
          height: 40px;
          width: 1px;
          top: 0;
        }
      }
      .info {
        overflow: hidden;
        margin-top: 5px;

        span {
          display: block;
          color: $color-primary;
          text-transform: uppercase;
          margin: {
            bottom: 6px;
            top: -5px;
          }
          font: {
            size: 18px;
            weight: 800;
            style: italic;
          }
        }
        .title {
          margin-bottom: 0;
          line-height: 1.4;
          font: {
            size: 1rem;
            weight: 700;
          }
          a {
            display: inline-block;
          }
        }
      }
      &:hover {
        .thumb {
          &::before,
          &::after {
            opacity: 1;
            top: 50%;
            left: 50%;
          }
        }
      }
    }
  }
  .filter_by_price {
    .irs--flat {
      .irs-bar {
        background-color: $color-primary;
      }
      .irs-handle > i:first-child {
        background-color: $color-primary;
      }
    }
  }
}

/* Max width 767px */
@media screen and ($max-viewport-7) {
  .widget-area {
    margin-top: 40px;
    padding-left: 0;

    .widget {
      .widget-title {
        font-size: 19px;
      }
    }
    .widget_insight {
      ul {
        li {
          a {
            font-size: 15px;
          }
        }
      }
    }
    .widget_recent_courses {
      .item {
        .info {
          span {
            font-size: 15px;
          }
          .title {
            font-size: 14.5px;
          }
        }
      }
    }
    .tagcloud {
      a {
        font-size: 13.5px !important;
      }
    }
  }
}

/* Min width 768px Max width 991px */
@media screen and ($viewport-7) and ($max-viewport-9) {
  .widget-area {
    margin-top: 40px;
    padding-left: 0;

    .widget {
      .widget-title {
        font-size: 19px;
      }
    }
  }
}

/* Min width 992px Max width 1199px */
@media screen and ($viewport-9) and ($max-viewport-12) {
  .widget-area {
    .widget {
      .widget-title {
        font-size: 20px;
      }
    }
    .widget_recent_courses {
      .item {
        .info {
          span {
            font-size: 15px;
          }
          .title {
            font-size: 15px;
          }
        }
      }
    }
    .tagcloud {
      a {
        padding: 7px 10px;
        font-size: 13.5px !important;
      }
    }
  }
}
