@import '../../../style/scss/01_abstracts';

.lms-tag {
  display: inline-block;
  background: #f5f5f5;
  color: $color-blackish;
  padding: 7px 15px;
  border: none;
  border-radius: 3px;
  font: {
    weight: 700;
    size: 14px !important;
  }
  margin: {
    top: 8px;
    right: 4px;
  }
  &:not(.noninteractive) {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:hover:not(.noninteractive),
  &:focus-visible,
  &.active {
    color: $color-whitish !important;
    background-color: $color-primary;
  }
}
