@import './payment-modal';
@import './course-program-content';
@import './button';
@import './progress';
@import './social-buttons';

// add component for this
.course-program-wrapper {
  display: flex;
  width: 100%;
}

// TODO: tmp class change this
.course-program-page {
  .course-program-player {
    margin-top: 200px;
    width: calc(100vw - 450px);
    margin-right: 50px;
  }

  .course-program-player-content {
    justify-content: flex-start;
  }

  .course-program-player-content__wrapper {
    border: 1px solid #eeeeee;
    padding: 20px;
    margin: 60px auto 20px;
  }

  .course-program-wrapper-preview {
    .course-program-player {
      margin-top: 100px;
    }
  }
}
