@import "../../../scss/common";

article.course {
  padding-top: 20px;
  .content {
    margin-bottom: 65px;
    color: $font-black;
    p {
      line-height: 26px;
      @include typo-paragraph-normal();
      b {
        @include typo-paragraph-big();
      }
    }
    * {
      font-family: "Montserrat", sans-serif !important;
    }
  }
  .course-points {
    margin-bottom: 45px;
    > .row {
      margin-top: 45px;
    }
  }
  .section-heading {
    h3 {
      @include typo-heading-normal();
    }
  }
  .comments {
    margin-top: 70px;
    margin-bottom: 100px;
    h3 {
      margin-bottom: 30px;
    }
  }
  .fixed-cart {
    position: absolute;
    // width: 350px;
    // height: 100vh;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    top: 450px;
    bottom: 0;
    transition: bottom 0.4s ease-in-out;
    .row {
      justify-content: flex-end;
    }
    // &.active {
    //   position: fixed;
    //   bottom: auto;
    //   top: 100px;
    // }
  }
}
