@import "../../../scss/common";

.tabs-component {
  .tabs-header {
    background: $green;
    position: relative;
    // margin-bottom: 15px;
    padding: 12px 25px;

    button {
      position: relative;
      z-index: 1;
      padding: 0;
      margin-right: 30px;
      border: 0;
      background: transparent;
      color: $white;
      @include typo-paragraph-big-light();
      outline: none;
      &.active {
        @include typo-paragraph-big();
      }
    }
  }
  .tabs-content {
    padding: 25px;
    position: relative;
  }
}
