@import '_typebase';
@import '../../../node_modules/react-image-lightbox/style.css';
$font-family: 'Nunito', sans-serif;
$font-family2: 'Playfair Display', serif;
$main-color: #fe4a55;
$main-color2: #6ba292;
$optional-color: #606060;
$white-color: #ffffff;
$black-color: #221638;
$font-size: 16px;
$transition: 0.5s;

.escolalms-image {
  width: 100%;
  height: 100%;
}

.course-program {
  // display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  .course-program-player {
    flex: 1 1 auto;
  }
}

.course-program-player {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: calc(100vh - 100px);
  max-width: calc(100vw - 350px);
  position: relative;

  > iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    // position: absolute;
    // left: 0;
    // top: 0;
  }
  &.scorm {
    // min-height: unset;
    // height: calc(100vh + 610px);
    // margin: 0px;
    // padding: 0px;
    iframe {
      overflow: auto;
      resize: both;
    }
  }

  .course-program-player-next {
    flex-basis: 100%;
    text-align: center;
    margin: 1em;
    padding: 1em;
  }
  .course-program-player-content .course-program-player-content__wrapper {
    width: 100%;
  }
  .course-program-player-content {
    width: 100%;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    > .h5p-player {
      width: 100%;
    }
    > .typebase {
      margin-top: 5em;
      margin-bottom: 5em;
    }
  }
  .course-program-summary {
    margin-top: 10px;
    margin-right: auto;
    padding: 10px;
    border-top: 1px solid #eeeeee;
  }
}

.modal {
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99998;
  }
  > div {
    z-index: 99999;
  }
  &.show {
    display: block;
  }
}

.page-title-content h3 {
  text-align: center;
}

.__embed {
  min-width: 50vw;
  min-height: 50vh;
  //height: calc(100vh - 300px);
}

iframe.__embed__fallback {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  min-width: 50vw;
  min-height: 50vh;
  width: 100%;
  height: calc(100vh - 300px);
}

.react-player__preview {
  //
}
