@use "sass:math";

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
.typebase {
  font-size:16px;
  -webkit-font-smoothing: antialiased;
  /* Copy & Lists */
  &.size-small {
    font-size: 14px;
  }
  &.size-regular {
    font-size: 16px;
  }
  &.size-bigger {
    font-size: 18px;
  }
  &.size-big {
    font-size: 20px;
  }
  p {
    line-height: 1.5em;
    margin-top: 1.5em;
    font-size: 1em;
    margin-bottom: 0;
  }
  ul,
  ol {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 100%;
  }
  ul li,
  ol li {
    line-height: 1.5em;
  }
  ul ul,
  ol ul,
  ul ol,
  ol ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  blockquote {
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size:1em;
    p {
      font-size: inherit !important;
      
    }
  }
  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* Change heading typefaces here */
    // font-family: sans-serif;
    margin-top: 1.5em;
    margin-bottom: 0;
    line-height: 1.5em;
  }
  h1 {
    font-size: math.div(4.242em , 2) * 1;
    line-height: math.div(4.5em , 2) * 1;
    margin-top: math.div(3em , 2) * 1;
  }
  h2 {
    font-size: math.div(2.828em , 1.5) * 1;
    line-height: math.div(3em , 1.5) * 1;
    margin-top: math.div(3em , 1.5) * 1;
  }
  h3 {
    font-size: math.div(1.414em , 1) * 1;
  }
  h4 {
    font-size: 0.707em;
  }
  h5 {
    font-size: 0.4713333333333333em;
  }
  h6 {
    font-size: 0.3535em;
  }
  /* Tables */
  table {
    margin-top: 1.5em;
    border-spacing: 0px;
    border-collapse: collapse;
  }
  table td,
  table th {
    padding: 0;
    line-height: 33px;
  }
  /* Code blocks */
  code {
    vertical-align: bottom;
  }
  /* Leading paragraph text */
  .lead {
    font-size: 1.414em;
  }
  /* Hug the block above you */
  .hug {
    margin-top: 0;
  }
}