$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 576px;
$value_two: 767px;
$value_three: 768px;
$value_four: 991px;
$value_five: 992px;
$value_six: 1199px;
$value_seven: 1200px;
$value_eight: 1355px;
$value_nine: 1550px;

/* Max width 767px */
@media only #{$media} and ($feature_max : $value_two) {
  body {
    font-size: 14.5px;
  }
  .container {
    max-width: 100%;
  }
  p {
    font-size: 14.5px;
    line-height: 1.7;
  }
  .ptb-100 {
    padding: {
      top: 60px;
      bottom: 60px;
    }
  }
  .pt-100 {
    padding-top: 60px;
  }
  .pt-70 {
    padding-top: 30px;
  }
  .pb-70 {
    padding-bottom: 30px;
  }
  .default-btn {
    font-size: 13px;
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    i {
      left: 20px;
    }
  }
  .form-control {
    height: 48px;
    font-size: 14.5px;
  }

  .shape9 {
    display: none;
  }

  .courses-area {
    &.pt-100 {
      &.pb-70 {
        padding-bottom: 60px;
      }
    }
  }
  .single-advisor-item {
    .advisor-image {
      .social-link {
        bottom: 10px;

        li {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .advisor-content {
      h3 {
        font-size: 19px;
      }
      span {
        font-size: 13.5px;
      }
    }
  }

  .page-title-area {
    padding: {
      top: 15px;
      bottom: 50px;
    }
  }
  .page-title-content {
    ul {
      li {
        margin-right: 17px;
        font-size: 14px;
        margin: {
          right: 17px;
          bottom: 8px;
        }
        &::before {
          right: -11px;
          top: 4px;
          height: 13px;
        }
      }
    }
    h2 {
      max-width: 100%;
      margin-top: 50px;
      font-size: 26px;
    }
  }
  .login-form {
    padding: 30px 20px;
    margin-right: 0;

    h2 {
      margin-bottom: 20px;
      text-align: center;
      font-size: 25px;
    }
    form {
      .lost-your-password-wrap {
        text-align: left;
        margin-top: 15px;
      }
      button {
        padding: 13px 30px;
        font-size: 15px;
      }
    }
  }
  .register-form {
    margin-top: 40px;
    border-top: 1px solid #eeeeee;
    padding: {
      left: 0;
      top: 30px;
    }
    h2 {
      margin-bottom: 20px;
      text-align: center;
      font-size: 25px;
    }
    form {
      .lost-your-password-wrap {
        text-align: left;
        margin-top: 15px;
      }
      button {
        padding: 13px 30px;
        font-size: 15px;
      }
    }
  }

  .error-area {
    height: auto;
    padding: {
      top: 150px;
      bottom: 150px;
    }
  }
  .error-content {
    h3 {
      font-size: 25px;
    }
    p {
      max-width: 100%;
    }
    .btn-box {
      .default-btn {
        margin: {
          left: 3px;
          right: 3px;
        }
      }
    }
  }
  .privacy-policy-content {
    // TODO: this is styles only for static-page (markdown)
    img {
      margin-bottom: 25px;
    }
    h3 {
      margin-bottom: 12px;
      font-size: 18px;
    }
    ul,
    ol {
      li {
        font-size: 14.5px;
      }
    }
    .blockquote,
    blockquote {
      p {
        font-size: 15px !important;
      }
    }
  }

  .escolalms-grid-sorting {
    text-align: center;

    .result-count {
      margin-bottom: 13px;
    }
    .ordering {
      text-align: center;

      label {
        font-size: 14px;
      }
    }
  }

  .pagination-area {
    margin-top: 20px;
  }

  .courses-details-info {
    margin: {
      left: 0;
      top: 30px;
    }
    .image {
      .content {
        i {
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 20px;
        }
        span {
          font-size: 14.5px;
        }
      }
    }
    .info {
      padding: {
        left: 10px;
        right: 10px;
        top: 30px;
      }
      li {
        font-size: 15px;
        padding: {
          top: 13px;
          bottom: 12px;
        }
        &.price {
          font-size: 20px;

          span {
            font-size: 15px;
          }
        }
      }
    }
    .btn-box {
      margin-top: 30px;
      padding: {
        left: 10px;
        right: 10px;
      }
    }
    .courses-share {
      padding: {
        left: 10px;
        right: 10px;
      }
      .share-info {
        span {
          font-size: 15px;
        }
        .social-link {
          bottom: -44px;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .courses-details-header {
    .courses-title {
      p {
        font-size: 15px;
      }
    }
    .courses-meta {
      ul {
        li {
          display: block;
          border-right: none;
          font-size: 14px;
          padding-right: 0;
          margin: {
            bottom: 15px;
            right: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
          span {
            margin-bottom: 2px;
            font-size: 13px;
          }
        }
      }
    }
    .courses-price {
      text-align: left;
      margin-top: 22px;

      .courses-review {
        .review-stars {
          i {
            font-size: 16px;
          }
        }
      }
    }
  }
  .courses-details-desc-style-two {
    h3 {
      margin-bottom: 12px;
      font-size: 19px;
    }
    .courses-curriculum {
      padding: 20px;
      margin: {
        left: 0;
        right: 0;
      }
      h3 {
        font-size: 16px;
        margin-bottom: 15px;
      }
      ul {
        li {
          a {
            display: block !important;
            padding: {
              left: 45px;
              right: 20px;
              top: 13px;
              bottom: 13px;
            }
            margin: {
              left: -20px;
              right: -20px;
            }
            &::before {
              left: 20px;
              top: 13px;
              font-size: 15px;
            }
            .courses-name {
              font-size: 15px;
            }
            .courses-meta {
              text-align: left;
              margin-top: 5px;

              .questions {
                font-size: 13.5px;
                margin-top: 7px;
              }
              .duration {
                font-size: 13.5px;
                margin-top: 7px;
              }
              .status {
                font-size: 13.5px;
                margin-top: 7px;
              }
            }
          }
        }
      }
    }
    .why-you-learn {
      ul {
        li {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
    .courses-author {
      .author-profile {
        .author-profile-title {
          .author-profile-title-details {
            .author-profile-details {
              h4 {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    .courses-reviews {
      h3 {
        font-size: 19px;
      }
      .rating {
        top: 2px;

        span {
          font-size: 17px;
        }
      }
      .side {
        width: 20%;

        div {
          font-size: 15px;
        }
      }
      .middle {
        width: 60%;
      }
    }
  }
  .courses-sidebar-information {
    margin-top: 40px;
    padding: 15px;

    .info {
      li {
        font-size: 15px;
        padding: {
          top: 13px;
          bottom: 12px;
        }
        &.price {
          font-size: 20px;

          span {
            font-size: 15px;
          }
        }
      }
    }
    .btn-box {
      margin-top: 30px;

      .default-btn {
        i {
          font-size: 16px;
        }
      }
    }
  }

  .profile-box {
    .image {
      padding-right: 0;
    }
    .content {
      padding: 25px 0 0 0;

      h3 {
        font-size: 19px;
      }
    }
  }

  .cart-table {
    table {
      thead {
        tr {
          th {
            font-size: 14.5px;
            padding: {
              left: 15px;
              right: 15px;
            }
            &:first-child {
              padding-left: 0;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 14.5px;
            padding: {
              left: 15px;
              right: 15px;
            }
            &:first-child {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
  .cart-buttons {
    .shopping-coupon-code {
      text-align: center;

      button {
        position: relative;
        right: 0;
        top: 0;
        height: auto;
        padding: 12px 25px;
        line-height: initial;
        font-size: 15px;
        border-radius: 5px;
        margin-top: 15px;
      }
    }
  }
  .cart-totals {
    padding: 20px;
    max-width: 100%;
    margin: {
      top: 40px;
    }
    h3 {
      font-size: 18px;
    }
    ul {
      margin-bottom: 20px;

      li {
        &:last-child {
          font-size: 18px;
        }
      }
    }
  }

  blockquote,
  .blockquote {
    padding: 20px !important;

    p {
      font-size: 17px !important;
    }
  }
  .widget-area {
    margin-top: 40px;
    padding-left: 0;

    .widget {
      .widget-title {
        font-size: 19px;
      }
    }
    .widget_insight {
      ul {
        li {
          a {
            font-size: 15px;
          }
        }
      }
    }
    .widget_recent_courses {
      .item {
        .info {
          span {
            font-size: 15px;
          }
          .title {
            font-size: 14.5px;
          }
        }
      }
    }
    .tagcloud {
      a {
        font-size: 13.5px !important;
      }
    }
  }

  .footer-area {
    padding-top: 60px;
  }
  .single-footer-widget {
    h3 {
      font-size: 20px;
    }
    &.pl-5,
    &.px-5 {
      padding-left: 0 !important;
    }
  }
  .footer-bottom-area {
    margin-top: 30px;
    text-align: center;
    padding: {
      top: 20px;
      bottom: 20px;
    }
    ul {
      text-align: center;
      margin-top: 15px;

      li {
        &::before {
          top: 3px;
        }
      }
    }
  }

  .go-top {
    right: 15px;
    width: 40px;
    height: 40px;
    font-size: 35px;
  }

  .hero-banner-area {
    padding: {
      top: 60px;
      bottom: 60px;
    }
    .container-fluid {
      max-width: 100%;
    }
  }
  .hero-banner-content {
    text-align: center;

    p {
      padding-right: 0;
      font: {
        weight: 500;
        size: 15px;
      }
    }
    h1 {
      margin-bottom: 15px;
      line-height: 1.3;
      font-size: 28px;
    }
    .default-btn {
      margin-top: 5px;
    }
  }
  .hero-banner-image {
    margin-top: 30px;
  }
  .banner-shape19 {
    display: none;
  }

  .navbar-area {
    &.is-sticky {
      &.pb-0 {
        padding-bottom: 20px !important;
      }
    }
  }
  .escolalms-nav {
    .navbar {
      .navbar-nav {
        .nav-item {
          .col {
            width: 100%;
            flex-basis: inherit;
          }
        }
      }
    }
  }
}

/* Min width 576px Max width 767px */
@media only #{$media} and ($feature_min : $value_one) and ($feature_max : $value_two) {
  .escolalms-nav {
    .navbar {
      .navbar-nav {
        .nav-item {
          .col {
            width: 50%;
            flex-basis: inherit;
          }
        }
      }
    }
  }

  .container {
    max-width: 540px;
  }

  .hero-banner-area {
    .container-fluid {
      max-width: 540px;
    }
  }
}

/* Min width 768px Max width 991px */
@media only #{$media} and ($feature_min : $value_three) and ($feature_max : $value_four) {
  body {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  .ptb-100 {
    padding: {
      top: 80px;
      bottom: 80px;
    }
  }
  .pt-100 {
    padding-top: 80px;
  }
  .pt-70 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 50px;
  }
  .container {
    max-width: 720px;
  }
  .default-btn {
    font-size: 15px;

    i {
      top: 11px;
    }
  }

  .shape9 {
    display: none;
  }

  .single-advisor-item {
    .advisor-content {
      h3 {
        font-size: 19px;
      }
      span {
        font-size: 14px;
      }
    }
  }

  .page-title-content {
    h2 {
      max-width: 720px;
      font-size: 30px;
    }
  }

  .courses-details-header {
    .courses-price {
      text-align: left;
      margin-top: 25px;
    }
  }
  .courses-details-info {
    margin: {
      left: 0;
      top: 30px;
    }
  }
  .courses-details-desc-style-two {
    h3 {
      font-size: 21px;
    }
    .courses-curriculum {
      h3 {
        font-size: 17px;
      }
    }
    .courses-author {
      .author-profile {
        .author-profile-title {
          .author-profile-title-details {
            .author-profile-details h4 {
              font-size: 19px;
            }
          }
        }
      }
    }
    .courses-reviews {
      h3 {
        font-size: 22px;
      }
    }
  }
  .widget-area {
    margin-top: 40px;
    padding-left: 0;

    .widget {
      .widget-title {
        font-size: 19px;
      }
    }
  }

  .cart-table {
    table {
      thead {
        tr {
          th {
            font-size: 14px;
          }
        }
      }
    }
  }
  .cart-totals {
    h3 {
      font-size: 20px;

      &:last-child {
        font-size: 18px;
      }
    }
  }

  blockquote,
  .blockquote {
    padding: 30px !important;

    p {
      font-size: 19px !important;
    }
  }
  .profile-box {
    .content {
      padding: 0 0 0 20px;

      h3 {
        font-size: 20px;
      }
    }
  }

  .privacy-policy-content {
    // TODO: this is styles only for static-page (markdown)
    h3 {
      font-size: 19px;
    }
  }

  .error-content {
    h3 {
      font-size: 36px;
    }
  }

  .login-form {
    margin-right: 0;

    h2 {
      font-size: 30px;
    }
  }
  .register-form {
    margin-top: 40px;
    padding: {
      top: 0;
      left: 0;
    }
    h2 {
      font-size: 30px;
    }
  }

  .footer-area {
    padding-top: 80px;
  }
  .single-footer-widget {
    h3 {
      font-size: 21px;
      margin-bottom: 19px;
    }
  }
  .footer-bottom-area {
    margin-top: 50px;
  }

  .hero-banner-area {
    padding: {
      top: 100px;
      bottom: 200px;
    }
    .container-fluid {
      max-width: 720px;
    }
  }
  .hero-banner-content {
    max-width: 595px;
    text-align: center;
    margin: 0 auto;

    h1 {
      margin-bottom: 15px;
      font-size: 35px;
    }
    p {
      max-width: 515px;
      font-size: 15px;
      padding-right: 0;
      margin: {
        left: auto;
        right: auto;
      }
    }
  }
  .hero-banner-image {
    margin-top: 30px;
  }
  .banner-shape19 {
    display: none;
  }

  .navbar-area.is-sticky {
    &.pb-0 {
      padding-bottom: 20px !important;
    }
  }
}

/* Min width 992px Max width 1199px */
@media only #{$media} and ($feature_min : $value_five) and ($feature_max : $value_six) {
  .container {
    max-width: 960px;
  }

  .navbar-area {
    padding: {
      top: 25px;
      bottom: 25px;
    }
  }

  .shape9 {
    display: none;
  }

  .single-footer-widget {
    &.pl-5,
    &.px-5 {
      padding-left: 0 !important;
    }
  }

  .login-form {
    padding: 30px 40px;

    h2 {
      font-size: 30px;
    }
  }
  .register-form {
    padding-top: 25px;

    h2 {
      font-size: 30px;
    }
  }

  .privacy-policy-content {
    // TODO: this is styles only for static-page (markdown)
    h3 {
      font-size: 20px;
    }
  }

  .widget-area {
    .widget {
      .widget-title {
        font-size: 20px;
      }
    }
    .widget_recent_courses {
      .item {
        .info {
          span {
            font-size: 15px;
          }
          .title {
            font-size: 15px;
          }
        }
      }
    }
    .tagcloud {
      a {
        padding: 7px 10px;
        font-size: 13.5px !important;
      }
    }
  }

  .courses-details-info {
    margin-left: 0;
    margin-top: -190px;

    .info {
      padding: {
        left: 15px;
        right: 15px;
      }
      li {
        font-size: 16px;

        &.price {
          font-size: 25px;
        }
      }
    }
  }
  .courses-details-desc-style-two {
    h3 {
      font-size: 22px;
    }
    .courses-reviews {
      h3 {
        font-size: 22px;
      }
    }
  }
  .courses-sidebar-information {
    padding: 20px;

    .info {
      li {
        font-size: 16px;
      }
    }
  }

  .profile-box {
    .content {
      padding: 0 0 0 30px;

      h3 {
        font-size: 21px;
      }
    }
  }

  .cart-totals {
    h3 {
      font-size: 22px;
    }
  }

  blockquote,
  .blockquote {
    padding: 40px !important;

    p {
      font-size: 20px !important;
    }
  }

  .hero-banner-area {
    padding: {
      bottom: 230px;
      top: 100px;
    }
    .container-fluid {
      max-width: 960px;
    }
  }
  .hero-banner-content {
    h1 {
      margin-bottom: 20px;
      font-size: 38px;
    }
    p {
      padding-right: 0;
    }
  }

  .navbar-area {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .escolalms-nav {
    .navbar {
      .navbar-nav {
        .nav-item {
          a {
            font-size: 15px;
            margin-left: 8px;
            margin-right: 8px;
            padding-top: 15px;
            padding-bottom: 15px;
          }

          &:hover {
            .dropdown-menu {
              margin-top: 0;
              width: 250px;
              li {
                a {
                  font-size: 14px;
                }
              }
            }
          }

          &.megamenu {
            .dropdown-menu {
              .megamenu-submenu {
                li {
                  a {
                    font-size: 14px;
                  }
                }
              }
              .single-category-widget {
                .icon {
                  width: 60px;
                  height: 60px;
                  font-size: 30px;
                }
                h3 {
                  font-size: 18px;
                }
                .sub-title {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      .search-box {
        margin-left: 30px;
        width: 160px;
        display: none;
        .input-search {
          height: 40px;
          font-size: 12px;
        }
        button {
          height: 40px;
        }
      }

      .others-option {
        margin-left: 15px;
        .option-item {
          margin-left: 25px;
        }
        .default-btn {
          font-size: 13px;
          padding-left: 40px;
          padding-right: 15px;
          i {
            left: 20px;
          }
        }
      }
    }
  }
}

/* Min width 1200px Max width 1355px */
@media only #{$media} and ($feature_min : $value_seven) and ($feature_max : $value_eight) {
  .container {
    max-width: 1140px;
  }

  .escolalms-nav {
    .container-fluid {
      max-width: 1200px;
      padding: {
        left: 15px;
        right: 60px;
      }
    }
    .navbar {
      .search-box {
        display: none;
      }
      .others-option {
        display: flex !important;
      }
      .navbar-nav {
        .nav-item {
          .dropdown-menu {
            left: auto;
            right: 0;

            li {
              .dropdown-menu {
                left: -250px;
                right: auto;

                li {
                  .dropdown-menu {
                    left: 250px;

                    li {
                      .dropdown-menu {
                        left: -250px;

                        li {
                          .dropdown-menu {
                            left: 250px;

                            li {
                              .dropdown-menu {
                                left: -250px;

                                li {
                                  .dropdown-menu {
                                    left: 250px;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .hero-banner-area {
    .container-fluid {
      max-width: 1200px;
    }
  }
  .hero-banner-content {
    h1 {
      margin-bottom: 20px;
      font-size: 39px;
    }
  }
}

/* Min width 1550px */
@media only #{$media} and ($feature_min : $value_nine) {
  .escolalms-nav {
    .container-fluid {
      padding: {
        left: 120px;
        right: 120px;
      }
    }
    .navbar {
      .search-box {
        margin-left: 90px;
      }
    }
  }

  .hero-banner-area {
    .container-fluid {
      max-width: 1480px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .escolalms-nav {
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px;
    }
    .navbar {
      .search-box {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 10px;
        width: 100%;
        .input-search {
          height: 45px;
          font-size: 14px;
        }
      }
      .navbar-collapse {
        max-height: 70vh;
        overflow-y: scroll;
        margin-top: 20px;
        padding: 0 8px;

        /* width */
        &::-webkit-scrollbar {
          width: 7px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }

      .navbar-nav {
        .nav-item {
          a {
            font-size: 15px;
            padding-left: 0;
            padding-right: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 0;
            margin-right: 0;
            i {
              display: none;
            }
          }

          .dropdown-menu {
            border: none;
            top: 0;
            border-top: 1px solid #fe4a55;
            position: relative;
            opacity: 1;
            visibility: visible;
            margin-top: 0;
            width: 95%;

            li {
              a {
                padding: 6px 20px;
                font-size: 14px;
              }
              .dropdown-menu {
                left: 20px;
                border: none;
                top: 0;
                border-top: 1px solid #fe4a55;
                position: relative;
                opacity: 1;
                visibility: visible;
                margin-top: 0;
                width: 88%;
              }
            }
          }

          &.megamenu {
            .dropdown-menu {
              padding: 15px 0;
              left: 0;
              border: none;
              top: 0;
              border-top: 1px solid #fe4a55;
              position: relative;
              opacity: 1;
              visibility: visible;
              margin-top: 0;
              width: 95%;

              .megamenu-submenu {
                li {
                  a {
                    margin-top: 10px;
                    font-size: 13px;
                  }
                }
              }

              .mobile-none {
                display: none;
              }
            }
          }
        }
      }

      .others-option {
        margin-left: 0;
      }
    }
  }
}
