/* Max width 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14.5px;
  }
  .container {
    max-width: 100%;
  }
  p {
    font-size: 14.5px;
    line-height: 1.7;
  }
  .ptb-100 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .pt-70 {
    padding-top: 30px;
  }
  .pb-70 {
    padding-bottom: 30px;
  }
  .default-btn {
    font-size: 13px;
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .default-btn i {
    left: 20px;
  }
  .form-control {
    height: 48px;
    font-size: 14.5px;
  }

  .shape9 {
    display: none;
  }
  .courses-area.pt-100.pb-70 {
    padding-bottom: 60px;
  }
  .page-title-area {
    padding-top: 15px;
    padding-bottom: 50px;
  }
  .page-title-content ul li {
    margin-right: 17px;
    font-size: 14px;
    margin-right: 17px;
    margin-bottom: 8px;
  }
  .page-title-content ul li::before {
    right: -11px;
    top: 4px;
    height: 13px;
  }
  .page-title-content h2 {
    max-width: 100%;
    margin-top: 50px;
    font-size: 26px;
  }
  .login-form {
    padding: 30px 20px;
    margin-right: 0;
  }
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
  }
  .login-form form .lost-your-password-wrap {
    text-align: left;
    margin-top: 15px;
  }
  .login-form form button {
    padding: 13px 30px;
    font-size: 15px;
  }
  .error-area {
    height: auto;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .escolalms-grid-sorting {
    text-align: center;
  }
  .escolalms-grid-sorting .result-count {
    margin-bottom: 13px;
  }
  .escolalms-grid-sorting .ordering {
    text-align: center;
  }
  .escolalms-grid-sorting .ordering label {
    font-size: 14px;
  }
  .courses-details-info {
    margin-left: 0;
    margin-top: 30px;
  }
  .courses-details-info .image .content i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }
  .courses-details-info .image .content span {
    font-size: 14.5px;
  }
  .courses-details-info .info {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
  }
  .courses-details-info .info li {
    font-size: 15px;
    padding-top: 13px;
    padding-bottom: 12px;
  }
  .courses-details-info .info li.price {
    font-size: 20px;
  }
  .courses-details-info .info li.price span {
    font-size: 15px;
  }
  .courses-details-info .btn-box {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .courses-details-info .courses-share {
    padding-left: 10px;
    padding-right: 10px;
  }
  .courses-details-info .courses-share .share-info span {
    font-size: 15px;
  }
  .courses-details-info .courses-share .share-info .social-link {
    bottom: -44px;
    opacity: 1;
    visibility: visible;
  }
  .courses-details-header .courses-title p {
    font-size: 15px;
  }
  .courses-details-header .courses-meta ul li {
    display: block;
    border-right: none;
    font-size: 14px;
    padding-right: 0;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .courses-details-header .courses-meta ul li:last-child {
    margin-bottom: 0;
  }
  .courses-details-header .courses-meta ul li span {
    margin-bottom: 2px;
    font-size: 13px;
  }
  .courses-details-header .courses-price {
    text-align: left;
    margin-top: 22px;
  }
  .courses-details-header .courses-price .courses-review .review-stars i {
    font-size: 16px;
  }
  .courses-details-desc-style-two h3 {
    margin-bottom: 12px;
    font-size: 19px;
  }
  .courses-details-desc-style-two .courses-curriculum {
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .courses-details-desc-style-two .courses-curriculum h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .courses-details-desc-style-two .courses-curriculum ul li a {
    display: block !important;
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .courses-details-desc-style-two .courses-curriculum ul li a::before {
    left: 20px;
    top: 13px;
    font-size: 15px;
  }
  .courses-details-desc-style-two .courses-curriculum ul li a .courses-name {
    font-size: 15px;
  }
  .courses-details-desc-style-two .courses-curriculum ul li a .courses-meta {
    text-align: left;
    margin-top: 5px;
  }
  .courses-details-desc-style-two .courses-curriculum ul li a .courses-meta .questions {
    font-size: 13.5px;
    margin-top: 7px;
  }
  .courses-details-desc-style-two .courses-curriculum ul li a .courses-meta .duration {
    font-size: 13.5px;
    margin-top: 7px;
  }
  .courses-details-desc-style-two .courses-curriculum ul li a .courses-meta .status {
    font-size: 13.5px;
    margin-top: 7px;
  }
  .courses-details-desc-style-two .why-you-learn ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .courses-details-desc-style-two
    .courses-author
    .author-profile
    .author-profile-title
    .author-profile-title-details
    .author-profile-details
    h4 {
    font-size: 18px;
  }
  .courses-details-desc-style-two .courses-reviews h3 {
    font-size: 19px;
  }
  .courses-details-desc-style-two .courses-reviews .rating {
    top: 2px;
  }
  .courses-details-desc-style-two .courses-reviews .rating span {
    font-size: 17px;
  }
  .courses-details-desc-style-two .courses-reviews .side {
    width: 20%;
  }
  .courses-details-desc-style-two .courses-reviews .side div {
    font-size: 15px;
  }
  .courses-details-desc-style-two .courses-reviews .middle {
    width: 60%;
  }
  .courses-sidebar-information {
    margin-top: 40px;
    padding: 15px;
  }
  .courses-sidebar-information .info li {
    font-size: 15px;
    padding-top: 13px;
    padding-bottom: 12px;
  }
  .courses-sidebar-information .info li.price {
    font-size: 20px;
  }
  .courses-sidebar-information .info li.price span {
    font-size: 15px;
  }
  .courses-sidebar-information .btn-box {
    margin-top: 30px;
  }
  .courses-sidebar-information .btn-box .default-btn i {
    font-size: 16px;
  }
  .cart-table table thead tr th {
    font-size: 14.5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cart-table table thead tr th:first-child {
    padding-left: 0;
  }
  .cart-table table tbody tr td {
    font-size: 14.5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cart-table table tbody tr td:first-child {
    padding-left: 0;
  }
  .cart-buttons .shopping-coupon-code {
    text-align: center;
  }
  .cart-buttons .shopping-coupon-code button {
    position: relative;
    right: 0;
    top: 0;
    height: auto;
    padding: 12px 25px;
    line-height: initial;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 15px;
  }
  .cart-totals {
    padding: 20px;
    max-width: 100%;
    margin-top: 40px;
  }
  .cart-totals h3 {
    font-size: 18px;
  }
  .cart-totals ul {
    margin-bottom: 20px;
  }
  .cart-totals ul li:last-child {
    font-size: 18px;
  }
  blockquote,
  .blockquote {
    padding: 20px !important;
  }
  blockquote p,
  .blockquote p {
    font-size: 17px !important;
  }
  .widget-area {
    margin-top: 40px;
    padding-left: 0;
  }
  .widget-area .widget .widget-title {
    font-size: 19px;
  }
  .widget-area .widget_insight ul li a {
    font-size: 15px;
  }
  .widget-area .widget_recent_courses .item .info span {
    font-size: 15px;
  }
  .widget-area .widget_recent_courses .item .info .title {
    font-size: 14.5px;
  }
  .widget-area .tagcloud a {
    font-size: 13.5px !important;
  }
  .hero-banner-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .hero-banner-area .container-fluid {
    max-width: 100%;
  }
  .hero-banner-content {
    text-align: center;
  }
  .hero-banner-content p {
    padding-right: 0;
    font-weight: 500;
    font-size: 15px;
  }
  .hero-banner-content h1 {
    margin-bottom: 15px;
    line-height: 1.3;
    font-size: 28px;
  }
  .hero-banner-content .default-btn {
    margin-top: 5px;
  }
  .hero-banner-image {
    margin-top: 30px;
  }
  .banner-shape19 {
    display: none;
  }
  .navbar-area.is-sticky.pb-0 {
    padding-bottom: 20px !important;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item .col {
    width: 100%;
    -ms-flex-preferred-size: inherit;
    flex-basis: inherit;
  }
}

/* Min width 576px Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .escolalms-nav .navbar .navbar-nav .nav-item .col {
    width: 50%;
    -ms-flex-preferred-size: inherit;
    flex-basis: inherit;
  }
  .container {
    max-width: 540px;
  }
  .hero-banner-area .container-fluid {
    max-width: 540px;
  }
}

/* Min width 768px Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  .ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-100 {
    padding-top: 80px;
  }
  .pt-70 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 50px;
  }
  .container {
    max-width: 720px;
  }
  .default-btn {
    font-size: 15px;
  }
  .default-btn i {
    top: 11px;
  }

  .shape9 {
    display: none;
  }
  .page-title-content h2 {
    max-width: 720px;
    font-size: 30px;
  }
  .courses-details-header .courses-price {
    text-align: left;
    margin-top: 25px;
  }
  .courses-details-info {
    margin-left: 0;
    margin-top: 30px;
  }
  .courses-details-desc-style-two h3 {
    font-size: 21px;
  }
  .courses-details-desc-style-two .courses-curriculum h3 {
    font-size: 17px;
  }
  .courses-details-desc-style-two
    .courses-author
    .author-profile
    .author-profile-title
    .author-profile-title-details
    .author-profile-details
    h4 {
    font-size: 19px;
  }
  .courses-details-desc-style-two .courses-reviews h3 {
    font-size: 22px;
  }
  .widget-area {
    margin-top: 40px;
    padding-left: 0;
  }
  .widget-area .widget .widget-title {
    font-size: 19px;
  }
  .cart-table table thead tr th {
    font-size: 14px;
  }
  .cart-totals h3 {
    font-size: 20px;
  }
  .cart-totals h3:last-child {
    font-size: 18px;
  }
  blockquote,
  .blockquote {
    padding: 30px !important;
  }
  blockquote p,
  .blockquote p {
    font-size: 19px !important;
  }
  .login-form {
    margin-right: 0;
  }
  .login-form h2 {
    font-size: 30px;
  }
  .hero-banner-area {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .hero-banner-area .container-fluid {
    max-width: 720px;
  }
  .hero-banner-content {
    max-width: 595px;
    text-align: center;
    margin: 0 auto;
  }
  .hero-banner-content h1 {
    margin-bottom: 15px;
    font-size: 35px;
  }
  .hero-banner-content p {
    max-width: 515px;
    font-size: 15px;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-banner-image {
    margin-top: 30px;
  }
  .banner-shape19 {
    display: none;
  }
  .navbar-area.is-sticky.pb-0 {
    padding-bottom: 20px !important;
  }
}

/* Min width 992px Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .navbar-area {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .shape9 {
    display: none;
  }
  .login-form {
    padding: 30px 40px;
  }
  .login-form h2 {
    font-size: 30px;
  }
  .widget-area .widget .widget-title {
    font-size: 20px;
  }
  .widget-area .widget_recent_courses .item .info span {
    font-size: 15px;
  }
  .widget-area .widget_recent_courses .item .info .title {
    font-size: 15px;
  }
  .widget-area .tagcloud a {
    padding: 7px 10px;
    font-size: 13.5px !important;
  }
  .courses-details-info {
    margin-left: 0;
    margin-top: -190px;
  }
  .courses-details-info .info {
    padding-left: 15px;
    padding-right: 15px;
  }
  .courses-details-info .info li {
    font-size: 16px;
  }
  .courses-details-info .info li.price {
    font-size: 25px;
  }
  .courses-details-desc-style-two h3 {
    font-size: 22px;
  }
  .courses-details-desc-style-two .courses-reviews h3 {
    font-size: 22px;
  }
  .courses-sidebar-information {
    padding: 20px;
  }
  .courses-sidebar-information .info li {
    font-size: 16px;
  }
  .cart-totals h3 {
    font-size: 22px;
  }
  blockquote,
  .blockquote {
    padding: 40px !important;
  }
  blockquote p,
  .blockquote p {
    font-size: 20px !important;
  }
  .hero-banner-area {
    padding-bottom: 230px;
    padding-top: 100px;
  }
  .hero-banner-area .container-fluid {
    max-width: 960px;
  }
  .hero-banner-content h1 {
    margin-bottom: 20px;
    font-size: 38px;
  }
  .hero-banner-content p {
    padding-right: 0;
  }
  .navbar-area {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item a {
    font-size: 15px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    margin-top: 0;
    width: 250px;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu li a {
    font-size: 14px;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a {
    font-size: 14px;
  }
  .escolalms-nav
    .navbar
    .navbar-nav
    .nav-item.megamenu
    .dropdown-menu
    .single-category-widget
    .icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .single-category-widget h3 {
    font-size: 18px;
  }
  .escolalms-nav
    .navbar
    .navbar-nav
    .nav-item.megamenu
    .dropdown-menu
    .single-category-widget
    .sub-title {
    font-size: 14px;
  }
  .escolalms-nav .navbar .search-box {
    margin-left: 30px;
    width: 160px;
    display: none;
  }
  .escolalms-nav .navbar .search-box .input-search {
    height: 40px;
    font-size: 12px;
  }
  .escolalms-nav .navbar .search-box button {
    height: 40px;
  }
  .escolalms-nav .navbar .others-option {
    margin-left: 15px;
  }
  .escolalms-nav .navbar .others-option .option-item {
    margin-left: 25px;
  }
  .escolalms-nav .navbar .others-option .default-btn {
    font-size: 13px;
    padding-left: 40px;
    padding-right: 15px;
  }
  .escolalms-nav .navbar .others-option .default-btn i {
    left: 20px;
  }
}

/* Min width 1200px Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {
  .container {
    max-width: 1140px;
  }
  .escolalms-nav .container-fluid {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 60px;
  }
  .escolalms-nav .navbar .search-box {
    display: none;
  }
  .escolalms-nav .navbar .others-option {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    left: auto;
    right: 0;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: -250px;
    right: auto;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: 250px;
  }
  .escolalms-nav
    .navbar
    .navbar-nav
    .nav-item
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu {
    left: -250px;
  }
  .escolalms-nav
    .navbar
    .navbar-nav
    .nav-item
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu {
    left: 250px;
  }
  .escolalms-nav
    .navbar
    .navbar-nav
    .nav-item
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu {
    left: -250px;
  }
  .escolalms-nav
    .navbar
    .navbar-nav
    .nav-item
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu {
    left: 250px;
  }
  .hero-banner-area .container-fluid {
    max-width: 1200px;
  }
  .hero-banner-content h1 {
    margin-bottom: 20px;
    font-size: 39px;
  }
}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {
  .escolalms-nav .container-fluid {
    padding-left: 120px;
    padding-right: 120px;
  }
  .escolalms-nav .navbar .search-box {
    margin-left: 90px;
  }
  .hero-banner-area .container-fluid {
    max-width: 1480px;
  }
}

@media only screen and (max-width: 991px) {
  .escolalms-nav .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .escolalms-nav .navbar .search-box {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .escolalms-nav .navbar .search-box .input-search {
    height: 45px;
    font-size: 14px;
  }
  .escolalms-nav .navbar .navbar-collapse {
    max-height: 70vh;
    overflow-y: scroll;
    margin-top: 20px;
    padding: 0 8px;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .escolalms-nav .navbar .navbar-collapse::-webkit-scrollbar {
    width: 7px;
  }
  .escolalms-nav .navbar .navbar-collapse::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .escolalms-nav .navbar .navbar-collapse::-webkit-scrollbar-thumb {
    background: #888;
  }
  .escolalms-nav .navbar .navbar-collapse::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item a {
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item a i {
    display: none;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    border: none;
    top: 0;
    border-top: 1px solid #fe4a55;
    position: relative;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    width: 95%;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    padding: 6px 20px;
    font-size: 14px;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: 20px;
    border: none;
    top: 0;
    border-top: 1px solid #fe4a55;
    position: relative;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    width: 88%;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu {
    padding: 15px 0;
    left: 0;
    border: none;
    top: 0;
    border-top: 1px solid #fe4a55;
    position: relative;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    width: 95%;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a {
    margin-top: 10px;
    font-size: 13px;
  }
  .escolalms-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .mobile-none {
    display: none;
  }
  .escolalms-nav .navbar .others-option {
    margin-left: 0;
  }
}
/*# sourceMappingURL=responsive.css.map */
