/*
@File: eDemy Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Navbar Area CSS
** - Main Banner Area CSS
** - Partner Area CSS
** - Boxes Area CSS
** - Language Courses Area CSS
** - Success Story Area CSS
** - Our Story Area CSS
** - Courses Area CSS
** - Courses Details Area CSS
** - Categories Area CSS
** - Advisor Area CSS
** - Start With Success Area CSS
** - Profile Area CSS
** - Video Area CSS
** - Get Instant Courses Area CSS
** - Events Area CSS
** - Events Details Area CSS
** - Become Instructor & Partner CSS
** - View All Courses Area CSS
** - Information Area CSS
** - Free Trial Area CSS
** - Apply Instructor Area CSS
** - Page Title Area CSS
** - Cart Area CSS
** - Checkout Area CSS
** - Widget Sidebar CSS
** - Privacy Policy Area CSS
** - Terms of Service Area CSS
** - Purchase Guide Area CSS
** - Pagination CSS
** - 404 Error Area CSS
** - Profile Authentication Area CSS
** - Contact Area CSS
** - Footer Area CSS
** - Go Top CSS
*/
/*================================================
Default CSS
=================================================*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: #606060;
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 16px;
}

p:last-child {
  margin-bottom: 0;
}

:focus {
  outline: 0 !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #221638;
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 1230px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

a {
  color: #221638;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

a:hover {
  color: #fe4a55;
  text-decoration: none;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.vertical-align-top td,
.vertical-align-top th {
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

/* default-btn */
.default-btn {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #ffffff;
  background-color: #fe4a55;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  padding-left: 55px;
  padding-right: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.default-btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #221638;
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 5px;
}

.default-btn i {
  position: absolute;
  left: 30px;
  top: 10px;
}

.default-btn:hover {
  color: #ffffff;
}

.default-btn:hover span {
  width: 225%;
  height: 562.5px;
}

blockquote,
.blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 50px !important;
  position: relative;
  text-align: center;
  z-index: 1;
  margin-bottom: 20px;
  margin-top: 20px;
}

blockquote p,
.blockquote p {
  color: #221638;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 700;
  font-size: 22px !important;
}

blockquote cite,
.blockquote cite {
  display: none;
}

blockquote::before,
.blockquote::before {
  color: #efefef;
  position: absolute;
  -webkit-animation: fade-up 1.5s infinite linear;
  animation: fade-up 1.5s infinite linear;
  left: 50px;
  top: -50px;
  z-index: -1;
  content: '\f10a';
  font-family: Flaticon;
  font-size: 135px;
}

blockquote::after,
.blockquote::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #fe4a55;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*================================================
Widget Sidebar CSS
=================================================*/

.table .btn {
  font-size: 12px;
  padding: 4px 8px;
}

/*# sourceMappingURL=style.css.map */
