@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

$font-family: 'Nunito', sans-serif;
$main-color: #fe4a55;
$main-color2: #6ba292;
$optional-color: #606060;
$white-color: #ffffff;
$black-color: #221638;
$font-size: 16px;
$transition: 0.5s;

$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 576px;
$value_two: 767px;
$value_three: 768px;
$value_four: 991px;
$value_five: 992px;
$value_six: 1199px;
$value_seven: 1200px;
$value_eight: 1355px;
$value_nine: 1550px;

img {
  max-width: 100%;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  font: {
    size: $font-size;
    family: $font-family;
  }
}

p {
  color: $optional-color;
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: $font-size;

  &:last-child {
    margin-bottom: 0;
  }
}

/* Max width 767px */
@media only #{$media} and ($feature_max : $value_two) {
  body {
    font-size: 14.5px;
  }

  p {
    font-size: 14.5px;
    line-height: 1.7;
  }
}

/* Min width 768px Max width 991px */
@media only #{$media} and ($feature_min : $value_three) and ($feature_max : $value_four) {
  body {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black-color;
  font-family: $font-family;
}

a {
  color: $black-color;
  transition: $transition;
  text-decoration: none;

  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}

// ------------ container

.container {
  max-width: 1230px;
}

/* Max width 767px */
@media only #{$media} and ($feature_max : $value_two) {
  .container {
    max-width: 100%;
  }
}

/* Min width 576px Max width 767px */
@media only #{$media} and ($feature_min : $value_one) and ($feature_max : $value_two) {
  .container {
    max-width: 540px;
  }
}

/* Min width 768px Max width 991px */
@media only #{$media} and ($feature_min : $value_three) and ($feature_max : $value_four) {
  .container {
    max-width: 720px;
  }
}

/* Min width 992px Max width 1199px */
@media only #{$media} and ($feature_min : $value_five) and ($feature_max : $value_six) {
  .container {
    max-width: 960px;
  }
}

/* Min width 1200px Max width 1355px */
@media only #{$media} and ($feature_min : $value_seven) and ($feature_max : $value_eight) {
  .container {
    max-width: 1140px;
  }
}

// ------------ container end

// ------------ blockquote

blockquote,
.blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 50px !important;
  position: relative;
  text-align: center;
  z-index: 1;
  margin: {
    bottom: 20px;
    top: 20px;
  }
  p {
    color: $black-color;
    line-height: 1.6;
    margin-bottom: 0;
    font: {
      style: italic;
      weight: 700;
      size: 22px !important;
    }
  }
  cite {
    display: none;
  }
  &::before {
    color: #efefef;
    position: absolute;
    animation: fade-up 1.5s infinite linear;
    left: 50px;
    top: -50px;
    z-index: -1;
    content: '\f10a';
    font: {
      family: Flaticon;
      size: 135px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: $main-color;
    margin: {
      top: 20px;
      bottom: 20px;
    }
  }
}

/* Max width 767px */
@media only #{$media} and ($feature_max : $value_two) {
  blockquote,
  .blockquote {
    padding: 20px !important;

    p {
      font-size: 17px !important;
    }
  }
}

/* Min width 768px Max width 991px */
@media only #{$media} and ($feature_min : $value_three) and ($feature_max : $value_four) {
  blockquote,
  .blockquote {
    padding: 30px !important;

    p {
      font-size: 19px !important;
    }
  }
}

/* Min width 992px Max width 1199px */
@media only #{$media} and ($feature_min : $value_five) and ($feature_max : $value_six) {
  blockquote,
  .blockquote {
    padding: 40px !important;

    p {
      font-size: 20px !important;
    }
  }
}

// ------------ blockquote end

// TODO: to co pozostało powyżej wrzucić (podzielić) do base, potem może uda się pogromić bootstrapa i typebase
