@import "../../../scss/common";

.curriculum-page {
  background: $teeth-white;
  min-height: 100vh;
  padding-top: 102px;
  &__iframe-wrapper {
    padding: 12px;
    border-radius: 10px;
    background: $white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    > div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 200px;
    }
    div {
      width: 100%;
    }
    iframe {
      width: 100%;
      border: 0;
    }
    button {
      margin-top: 60px;
    }
    video,
    audio {
      width: 100%;
    }
    .document {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        margin: 0;
        margin-left: 10px;
        @include typo-paragraph-big();
      }
      svg {
        width: 40px;
      }
    }
  }
}
