@import "../../../../scss/common";
.files-uploader-wrapper {
  > p {
    @include typo-paragraph-bold();
    color: $black;
    span {
      @include typo-tiny();
    }
  }
  .uploaded-files {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-top: 20px;
    .uploaded-file {
      margin-right: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__icon {
        width: 59px;
        height: 59px;
        position: relative;
        > img {
          width: 100%;
          height: 100%;
        }
      }
      &__content {
        margin-left: 10px;
        .file-title {
          @include typo-tag();
          color: $black;
          margin-bottom: 0px;
        }
        span {
          display: block;
          margin-bottom: 0px;
        }
        .delete-file {
          margin-top: 0;
          border: none;
          background-color: transparent;
          @include typo-tiny();
          color: #a7a28d;
        }
      }
    }
  }
  .file-uploader {
    border: 2px dashed #d1cebe;
    border-radius: 10px;
    text-align: center;
    padding: 40px 0px;
    margin-bottom: 20px;
    p {
      @include typo-paragraph-bold();
      color: #b9b5a1;
      margin-bottom: 0px;
      span {
        @include typo-paragraph-bold();
        color: $green;
        text-decoration: underline;
      }
    }
  }
}
