@import './src/style/scss/01_abstracts';

.courses-details-header {
  margin-bottom: 20px;

  .courses-title {
    p {
      font-size: 17px;
    }
  }
  .courses-meta {
    margin-top: 20px;

    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        margin-right: 20px;
        position: relative;
        display: inline-block;
        border-right: 1px solid #eeeeee;
        font: {
          weight: 800;
          size: 17px;
        }
        padding: {
          right: 20px;
          left: 40px;
        }
        i {
          font-size: 28px;
          color: #cfcfcf;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        span {
          display: block;
          color: $color-primary;
          text-transform: uppercase;
          margin-bottom: 1px;
          font: {
            size: 13.5px;
            weight: 700;
          }
        }
        a {
          display: inline-block;
          color: $color-blackish;
          margin-right: 3px;
          &:hover,
          &:focus {
            color: $color-primary;
          }
        }
        &:last-child {
          padding-right: 0;
          margin-right: 0;
          border-right: none;
          margin-top: 10px;
        }
      }
    }
  }
  .courses-price {
    text-align: right;

    .price {
      display: inline-block;
      margin-right: 15px;
      line-height: 1;
      position: relative;
      top: -9px;
      font: {
        size: 36px;
        weight: 800;
      }
    }
    .courses-review {
      display: block;
      margin-bottom: 10px;

      .review-stars {
        display: inline-block;

        i {
          color: #f2b827;
          font-size: 18px;
          display: inline-block;
          margin-right: 2px;
        }
      }
      .reviews-total {
        position: relative;
        color: $color-text-primary;
        position: relative;
        top: -1px;
        margin-left: 2px;
        font-weight: 700;
      }
    }
  }

  /* Max width 767px */
  @media screen and ($max-viewport-7) {
    .courses-title {
      p {
        font-size: 15px;
      }
    }
    .courses-meta {
      ul {
        li {
          display: block;
          border-right: none;
          font-size: 14px;
          padding-right: 0;
          margin: {
            bottom: 15px;
            right: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
          span {
            margin-bottom: 2px;
            font-size: 13px;
          }
        }
      }
    }
    .courses-price {
      text-align: left;
      margin-top: 22px;

      .courses-review {
        .review-stars {
          i {
            font-size: 16px;
          }
        }
      }
    }
  }

  /* Min width 768px Max width 991px */
  @media screen and ($viewport-7) and ($max-viewport-9) {
    .courses-price {
      text-align: left;
      margin-top: 25px;
    }
  }
}

.courses-details-header .courses-price,
.courses-price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  .price {
    position: static;
    top: auto;
  }
  > button,
  a {
    margin-top: 15px;
    &.full-width {
      width: 100%;
    }
  }
}

.courses-details-image-style-two {
  border-radius: 5px;

  img {
    width: 100%;
    border-radius: 5px;
  }
}

.courses-details-desc {
  margin-top: 30px;
  padding-right: 15px;

  .react-tabs__tab-list {
    margin-bottom: 0;
    list-style-type: none;
    background-color: #f8f9f8;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    padding: {
      left: 30px;
      right: 30px;
    }
    .react-tabs__tab {
      cursor: pointer;
      margin: {
        bottom: 0;
        right: 40px;
      }
      border-radius: 0;
      border: none;
      padding: 0;
      transition: 0.5s;
      padding: 14px 0;
      background-color: transparent;
      position: relative;
      border-radius: 5px;
      font: {
        size: 18px;
        weight: 800;
      }
      &::before {
        content: '';
        bottom: 1px;
        height: 2px;
        background-color: $color-primary;
        position: absolute;
        transition: 0.5s;
        left: 0;
        width: 100%;
        transform: scaleX(0);
      }
      &:hover,
      &.react-tabs__tab--selected {
        color: $color-blackish;

        &::before {
          transform: scaleX(1);
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
    @media screen and ($max-viewport-7) {
      padding: {
        bottom: 3px;
      }
    }
  }
}

.courses-details-desc-style-two {
  padding: {
    left: 30px;
    right: 30px;
    top: 40px;
  }
  h3 {
    margin-bottom: 15px;
    font: {
      size: 24px;
      weight: 800;
    }
    &:not(first-child) {
      margin-top: 0px;
    }
  }
  .why-you-learn {
    margin-top: 20px;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding-left: 15px;
      margin: {
        left: -10px;
        right: -10px;
        bottom: -12px;
      }
      li {
        flex: 0 0 50%;
        max-width: 50%;
        padding: {
          left: 10px;
          right: 10px;
          bottom: 12px;
        }
        span {
          display: block;
          color: $color-blackish;
          position: relative;
          padding-left: 22px;
          line-height: 1.7;
          font: {
            weight: 500;
          }
          i {
            position: absolute;
            left: 0;
            top: 3px;
            color: $color-primary;
            font-size: 13px;
          }
        }
      }
    }
  }
  .courses-curriculum {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 30px;
    margin: {
      top: 20px;
    }
    h3 {
      margin: {
        top: 0;
        bottom: 18px;
      }
      font: {
        size: 18px;
        weight: 800;
      }
      &:not(:first-child) {
        margin-top: 30px;
      }
    }
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        display: block;

        a {
          background-color: #f8f9f8;
          color: $color-blackish;
          position: relative;
          padding: {
            left: 55px;
            right: 30px;
            top: 14.5px;
            bottom: 14.5px;
          }
          margin: {
            left: -30px;
            right: -30px;
          }
          &::before {
            content: '\f104';
            position: absolute;
            left: 30px;
            color: $color-primary;
            top: 14px;
            font: {
              size: 18px;
              family: Flaticon;
            }
          }
          .courses-name {
            font: {
              size: 14.5px;
              weight: 700;
            }
          }
          .courses-meta {
            text-align: right;

            .questions {
              display: inline-block;
              background: #e3f1f2;
              color: #2dbbc4;
              text-transform: lowercase;
              border-radius: 3px;
              margin-right: 6px;
              padding: 2px 10px 1.5px;
              font: {
                size: 14px;
                weight: 700;
              }
            }
            .duration {
              display: inline-block;
              background: #f7e7e8;
              color: $color-primary;
              text-transform: lowercase;
              border-radius: 3px;
              padding: 2px 10px 1.5px;
              font: {
                size: 14px;
                weight: 700;
              }
            }
            .status {
              display: inline-block;
              background: $color-blackish;
              color: $color-whitish;
              border-radius: 3px;
              margin-left: 6px;
              padding: 2px 10px 1.5px;
              font: {
                size: 14px;
                weight: 700;
              }
              &.locked {
                color: $color-blackish;
                background-color: transparent;
                padding: 0;
                margin-left: 8px;
                border-radius: 0;
                position: relative;
                top: 1px;
                font: {
                  size: 18px;
                  weight: normal;
                }
              }
            }
          }
          &:hover {
            color: $color-primary;
          }
        }
        &:nth-child(even) {
          a {
            background-color: $color-whitish;
          }
        }
      }
    }
  }
  .requirements-list {
    padding-left: 15px;
    margin-bottom: 0;
    list-style-type: none;

    li {
      color: $color-text-primary;
      margin-bottom: 10px;
      position: relative;
      padding-left: 17px;

      &::before {
        position: absolute;
        left: 0;
        content: '';
        top: 7px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $color-blackish;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  p {
    strong {
      color: $color-blackish;
    }
  }
  .audience-list {
    padding-left: 15px;
    margin-bottom: 0;
    list-style-type: none;

    li {
      color: $color-text-primary;
      margin-bottom: 10px;
      position: relative;
      padding-left: 17px;
      line-height: 1.8;

      &::before {
        position: absolute;
        left: 0;
        content: '';
        top: 10px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $color-blackish;
      }
      strong {
        color: $color-blackish;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .courses-instructor {
    margin-bottom: 30px;
    .single-advisor-box {
      .advisor-image {
        top: 0;
        margin-bottom: 0;

        img {
          width: 100%;
          display: inline-block !important;
        }
      }
      .advisor-content {
        padding: 0 0 0 20px;

        h3 {
          margin-bottom: 7px;
          font: {
            size: 23px;
            weight: 800;
          }
        }
        .sub-title {
          display: block;
          color: $color-primary;
          margin-bottom: 15px;
          font: {
            size: 15px;
            weight: 600;
          }
        }
      }
    }
  }
  .courses-reviews {
    h3 {
      margin-bottom: 0;
      display: inline-block;
      margin-right: 15px;
      font: {
        size: 24px;
        weight: 800;
      }
    }
    .rating {
      display: inline-block;
      position: relative;
      top: 2px;

      span {
        font-size: 17px;
        color: #cecfd2;
        margin-right: 2px;

        &.checked {
          color: orange;
        }
      }
    }
    .rating-count {
      margin: {
        top: 10px;
        bottom: 20px;
      }
      span {
        display: block;
        font-size: 1rem;
        color: $color-text-primary;
      }
    }
    .row {
      overflow: hidden;
      margin: {
        left: 0;
        right: 0;
      }
    }
    .side {
      float: left;
      width: 9%;
      margin-top: 10px;

      div {
        font: {
          size: 1rem;
          weight: 700;
        }
      }
    }
    .middle {
      margin-top: 14px;
      float: left;
      width: 82%;
    }
    .right {
      text-align: right;
    }
    .bar-container {
      width: 100%;
      background-color: #f1f1f1;
      text-align: center;
      color: $color-whitish;
      border-radius: 5px;
    }
    .bar-5 {
      width: 100%;
      height: 18px;
      background-color: #4caf50;
      border-radius: 5px;
    }
    .bar-4 {
      width: 75%;
      height: 18px;
      background-color: #2196f3;
      border-radius: 5px;
      border-radius: 5px;
    }
    .bar-3 {
      width: 50%;
      height: 18px;
      background-color: #00bcd4;
      border-radius: 5px;
    }
    .bar-2 {
      width: 25%;
      height: 18px;
      background-color: #ff9800;
      border-radius: 5px;
    }
    .bar-1 {
      width: 0;
      height: 18px;
      background-color: #f44336;
      border-radius: 5px;
    }
  }

  /* Max width 767px */
  @media screen and ($max-viewport-7) {
    h3 {
      margin-bottom: 12px;
      font-size: 19px;
    }
    .courses-curriculum {
      padding: 20px;
      margin: {
        left: 0;
        right: 0;
      }
      h3 {
        font-size: 16px;
        margin-bottom: 15px;
      }
      ul {
        li {
          a {
            display: block !important;
            padding: {
              left: 45px;
              right: 20px;
              top: 13px;
              bottom: 13px;
            }
            margin: {
              left: -20px;
              right: -20px;
            }
            &::before {
              left: 20px;
              top: 13px;
              font-size: 15px;
            }
            .courses-name {
              font-size: 15px;
            }
            .courses-meta {
              text-align: left;
              margin-top: 5px;

              .questions {
                font-size: 13.5px;
                margin-top: 7px;
              }
              .duration {
                font-size: 13.5px;
                margin-top: 7px;
              }
              .status {
                font-size: 13.5px;
                margin-top: 7px;
              }
            }
          }
        }
      }
    }
    .why-you-learn {
      ul {
        li {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
    .courses-author {
      .author-profile {
        .author-profile-title {
          .author-profile-title-details {
            .author-profile-details {
              h4 {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    .courses-reviews {
      h3 {
        font-size: 19px;
      }
      .rating {
        top: 2px;

        span {
          font-size: 17px;
        }
      }
      .side {
        width: 20%;

        div {
          font-size: 15px;
        }
      }
      .middle {
        width: 60%;
      }
    }
  }

  /* Min width 768px Max width 991px */
  @media screen and ($viewport-7) and ($max-viewport-9) {
    h3 {
      font-size: 21px;
    }
    .courses-curriculum {
      h3 {
        font-size: 17px;
      }
    }
    .courses-author {
      .author-profile {
        .author-profile-title {
          .author-profile-title-details {
            .author-profile-details h4 {
              font-size: 19px;
            }
          }
        }
      }
    }
    .courses-reviews {
      h3 {
        font-size: 22px;
      }
    }
  }

  /* Min width 992px Max width 1199px */
  @media screen and ($viewport-9) and ($max-viewport-12) {
    h3 {
      font-size: 22px;
    }
    .courses-reviews {
      h3 {
        font-size: 22px;
      }
    }
  }
}

.courses-details-desc-style-two .courses-curriculum h3 .courses-meta .duration {
  display: inline-block;
  background: #f7e7e8;
  color: #fe4a55;
  text-transform: lowercase;
  border-radius: 3px;
  padding: 2px 10px 1.5px;
  font-size: 14px;
  font-weight: 700;
}

.courses-details-desc-style-two .courses-curriculum {
  ul li {
    &:nth-child(odd) div.anchor {
      background-color: #f8f9f8;
    }
    &:nth-child(even) div.anchor {
      background-color: #ffffff;
    }
    div.anchor {
      background-color: transparent;
      color: $color-blackish;
      position: relative;
      padding: {
        left: 55px;
        right: 30px;
        top: 14.5px;
        bottom: 14.5px;
      }
      margin: {
        left: -30px;
        right: -30px;
      }
      &::before {
        content: '\f104';
        position: absolute;
        left: 30px;
        color: $color-primary;
        top: 14px;
        font: {
          size: 18px;
          family: Flaticon;
        }
      }
      .courses-name {
        font: {
          size: 14.5px;
          weight: 700;
        }
      }
      .preview {
        cursor: pointer;
        transition: transform 0.2s ease-out;
        &:hover {
          transform: scale3d(1.1, 1.1, 1);
        }
      }
      .courses-meta {
        text-align: right;

        .questions {
          display: inline-block;
          background: #e3f1f2;
          color: #2dbbc4;
          text-transform: lowercase;
          border-radius: 3px;
          margin-right: 6px;
          padding: 2px 10px 1.5px;
          font: {
            size: 14px;
            weight: 700;
          }
        }
        .duration {
          display: inline-block;
          background: #f7e7e8;
          color: $color-primary;
          text-transform: lowercase;
          border-radius: 3px;
          padding: 2px 10px 1.5px;
          font: {
            size: 14px;
            weight: 700;
          }
        }
        .status {
          display: inline-block;
          background: $color-blackish;
          color: $color-whitish;
          border-radius: 3px;
          margin-left: 6px;
          padding: 2px 10px 1.5px;
          font: {
            size: 14px;
            weight: 700;
          }
          &.locked {
            color: $color-blackish;
            background-color: transparent;
            padding: 0;
            margin-left: 8px;
            border-radius: 0;
            position: relative;
            top: 1px;
            font: {
              size: 18px;
              weight: normal;
            }
          }
        }
      }
      &:hover {
        color: $color-primary;
      }
    }
  }
}

.courses-details-desc-style-two .courses-author .author-profile .author-profile-title img {
  object-fit: cover;
}

.course-page {
  padding: {
    top: 100px;
    bottom: 100px;
  }

  /* Max width 767px */
  @media screen and ($max-viewport-7) {
    padding: {
      top: 60px;
      bottom: 60px;
    }
  }

  /* Min width 768px Max width 991px */
  @media screen and ($viewport-7) and ($max-viewport-9) {
    padding: {
      top: 80px;
      bottom: 80px;
    }
  }
}
