.loader {
  background-color: transparent;
  background-image: url("./../../../images/loader-circles.svg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  &.middle {
    top: calc(50% - 70px);
    transform: translateY(-50%);
    bottom: auto;
  }
  &.bottom {
    top: auto;
  }
  &.top {
    bottom: auto;
  }
  &.left {
    left: 0;
    right: auto;
  }
  &.right {
    left: auto;
    right: 0;
  }
  &.center {
    left: 0;
    right: 0;
  }
  &.isStatic {
    position: static;
    margin: 10px auto;
  }
}
