@import "../../../../scss/common";
.course-progress-box {
  padding: 6px;
  border-radius: 8px;
  transition: box-shadow 0.2s ease-in-out;
  margin-bottom: 10px;
  a {
    text-decoration: none;
    color: $font-black;
    > * {
      color: $font-black;
    }
    &:hover {
      text-decoration: none;
    }
  }
  img {
    border-radius: 5px;
    height: 220px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__hoover {
    opacity: 0;
    top: 36px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    transition: opacity 0.2s ease-in-out;
    &:after {
      content: "";
      top: 3px;
      position: absolute;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: $white;
      z-index: 1;
    }
    svg {
      width: 56px;
      height: 56px;
      position: relative;
      z-index: 2;
    }
    small {
      color: $white;
      @include typo-paragraph-normal();
      margin-top: 5px;
    }
  }
  &__content {
    h4,
    h5 {
      display: block;
      width: 100%;
      margin-top: 10px;
    }
    h5 {
      @include typo-tiny();
      margin-bottom: -10px;
    }
    progress {
      width: 100%;
      height: 5px;
      border-radius: 3px;
      margin-bottom: -5px;
    }
    progress::-webkit-progress-bar {
      background-color: $light-grey6;
      border-radius: 3px;
    }
    progress::-webkit-progress-value {
      background-color: $green;
      border-radius: 3px;
    }
    span {
      @include typo-paragraph-bold();
    }
    h4.course-progress-box__content__name {
      @include typo-paragraph-big();
    }
  }
  &:hover {
    box-shadow: 0px 3px 15px #00000029;
    .course-progress-box__hoover {
      opacity: 1;
    }
  }
}
