@import '../../../style/scss/01_abstracts';

.video-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 35px;
  text-align: center;
  line-height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%) translateX(-50%);
  background-color: $color-primary;
  border-radius: 50%;
  color: $color-whitish;

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 50%;
    border: 1px solid $color-primary;
  }
  &::before {
    animation: ripple 2s linear infinite;
  }
  &::after {
    animation: ripple 2s linear 1s infinite;
  }
  &:hover {
    color: $color-whitish;
    background-color: $color-blackish;

    &::before,
    &::after {
      border-color: $color-blackish;
    }
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.75);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.shape10 {
  position: absolute;
  left: -11%;
  bottom: -11%;
  z-index: -1;

  img {
    border-radius: 0;
    animation: moveleftbounce 4s linear infinite;
  }
}
