@import "../../../../scss/common";

.section-short-description {
  margin-bottom: 40px;
  background: $white;
  .image-wrapper {
    border: 10px solid $white;
    position: relative;
  }
  .description {
    margin-bottom: 0;
    @include typo-paragraph-normal();
    ul {
      margin-top: 20px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 0;
      li {
        min-width: 50%;
        max-width: 50%;
        padding-right: 30px;
        margin-bottom: 20px;
        line-height: 16px;
        display: flex;
        align-items: center;
      }
    }
  }
}
