@import './src/style/scss/01_abstracts';

.course-program-sidebar {
  right: 0;
  top: 120px;
  width: 450px;
  height: 100%;
  max-height: calc(100vh - 100px);
  overflow: auto;
  overflow-x: hidden;
  z-index: 99999;
  background: #fff;
  border: 1px solid #e8e9eb;
  flex: 0 1 auto;
  position: sticky;
}
