@import "../../../../../scss/common";

.profile-box {
  border: 1px solid $yellow-grey;
  border-radius: 7px;
  background-color: $white;
  padding: 20px 50px 20px 30px;
  margin-bottom: 30px;
  h3 {
    @include typo-paragraph-big();
  }
  .description {
    @include typo-paragraph-normal();
  }
  &--notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
