@import './src/style/scss/01_abstracts';

.d-table {
  width: 100%;
  height: 100%;
}
.d-table-cell {
  vertical-align: middle;
}

.error-area {
  background-color: #111111;
  height: 100vh;

  /* Max width 767px */
  @media screen and ($max-viewport-7) {
    height: auto;
    padding: {
      top: 150px;
      bottom: 150px;
    }
  }
}
.error-content {
  text-align: center;

  h3 {
    color: $color-whitish;
    margin: {
      bottom: 20px;
      top: 45px;
    }
    font: {
      size: 40px;
      weight: 800;
    }
  }
  p {
    color: rgba(255, 255, 255, 0.7);
    max-width: 550px;
    margin: {
      left: auto;
      right: auto;
      bottom: 0;
    }
  }
  .btn-box {
    margin-top: 30px;

    .default-btn {
      margin: {
        left: 7px;
        right: 7px;
      }
      span {
        background-color: $color-whitish;
      }
      &:hover {
        color: $color-blackish;
      }
    }
  }

  /* Max width 767px */
  @media screen and ($max-viewport-7) {
    h3 {
      font-size: 25px;
    }
    p {
      max-width: 100%;
    }
    .btn-box {
      .default-btn {
        margin: {
          left: 3px;
          right: 3px;
        }
      }
    }
  }

  /* Min width 768px Max width 991px */
  @media screen and ($viewport-7) and ($max-viewport-9) {
    h3 {
      font-size: 36px;
    }
  }
}
