@import "../../../../scss/common";

.avatar-uploader {
  margin-bottom: 30px;
  .label {
    display: block;
    margin-bottom: 10px;
    margin-top: 25px;
    color: $font-black;
    @include typo-paragraph-normal();
  }
  .component-wrapper {
    display: flex;
    align-items: center;
    > div {
      position: relative;
      p {
        margin-bottom: 0;
      }
      .loader {
        right: -40px;
      }
    }
    .image-wrapper {
      margin-right: 23px;
      img {
        width: 104px;
        height: 104px;
        border-radius: 100%;
        border: 3px solid $yellow;
      }
    }
    .file-uploader {
      @include typo-paragraph-bold();
      p {
        cursor: pointer;
        color: $green;
      }
    }
    button {
      @include typo-paragraph-normal();
      background-color: transparent;
      border: 0;
      box-shadow: none;
      padding: 0;
      cursor: pointer;
      color: $grey-avatar;
    }
  }
}
