@import "../../../scss/common";
.ReactModalPortal {
  z-index: 99;
  .ReactModal__Overlay {
    z-index: 99;
    .modal {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: rgba($realBlack, 0.55);
      z-index: 99;
      outline: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .modal-wrapper {
        max-width: 1100px;
        border-radius: 15px;
        box-shadow: 0px 3px 35px #0000005a;

        .modal-header {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          background-color: $green;
          padding: 20px 20px 10px 20px;
          text-align: center;
          color: $white;
          position: relative;

          h2 {
            @include typo-heading-big-bold();
          }
          .close {
            top: 30px;
            position: absolute;
            right: 20px;
          }
        }
        .modal-body {
          background-color: $bone-white;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          padding: 40px;
        }
      }
    }
  }
}
