@import './src/style/scss/01_abstracts';

.course-card {
  $this: &;

  &__author {
    margin-bottom: 15px;
  }

  // TODO: rewrite
  &__footer {
    .courses-box-footer {
      list-style-type: none;
      padding-left: 0;
      flex-wrap: wrap;
      margin: {
        bottom: 0;
        left: -7px;
        right: -7px;
        top: 20px;
      }
      li {
        color: $color-text-primary;
        font-size: 15px;
        position: relative;
        margin : {
          bottom: 5px;
        }
        padding: {
          left: 25px;
          right: 7px;
        }

        /* Max width 767px */
        @media screen and ($max-viewport-7) {
          font-size: 14px;
        }

        i {
          color: $color-primary;
          position: absolute;
          left: 7px;
          top: 0;

          &.flaticon-people {
            font-size: 18px;
            left: 3px;
          }
        }
      }
    }
  }

  &--free {
    .course-card-header__badge {
      font-size: 13px;
    }
  }
}
