@import './src/style/scss/01_abstracts';

.course-card-header {
  position: relative;
  z-index: 1;
  min-height: 70px;

  &__image {
    height: 250px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  &__badge {
    position: absolute;
    right: 20px;
    bottom: 0;
    transform: translate(0, 50%);

    /* Max width 767px */
    @media screen and ($max-viewport-7) {
      right: 15px;
      width: 50px;
      height: 50px;
      font-size: 18px;
    }
  }
}
