.slider-wrapper {
  // height: 100%;
  &.courses-slider {
    .slick-arrow.slick-next {
      top: 94px;
    }
  }
  &.achievements-slider {
    .slick-arrow.slick-next {
      top: 74px;
    }
  }
  &.stories-slider {
    .slick-arrow.slick-next {
      top: 134px;
    }
  }
  &.posts-slider {
    .slick-arrow.slick-next {
      top: 132px;
    }
  }
  &.projects-slider {
    .slick-arrow.slick-next {
      top: 110px;
    }
  }
}
