@import "./src/style/scss/base/vars";

.image-player {
  .escolalms-image {
    max-width: 50vw;
    max-height: 50vh;
    cursor: pointer;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      transition: transform 0.5s ease-out;
      width: auto;
      height: auto;
      max-width: 50vw;
      max-height: 50vh;
    }
  }
}
