@import './src/style/scss/01_abstracts';

.img-container-xl {
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}

.topic-preview-modal .topic-preview-modal-content .h5p-player {
  width: 100%;
}

.topic-preview-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: rgba($color: #000000, $alpha: 0.6);
  z-index: $z-index-course-preview-modal;

  .topic-preview-modal-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  button {
    position: fixed;
    top: 20px;
    right: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #d0d0d0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    -moz-transition: 0.5s;
    transition: 0.5s;
    font-size: 50px;
  }
  .container-xl {
    background: #fff;
    padding: 30px;
    margin: 30px;
  }

  .pdf-wrapper {
    max-width: 90%;

    .pagination-area {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      color: $color-text-primary-light;
      font: {
        size: 1rem;
        weight: 700;
      }

      .nav-btn-modal {
        width: 33px;
        height: 33px;
        background-color: $color-section-light-bg;
        color: $color-text-primary;
        text-align: center;
        display: inline-block;
        border-radius: 3px;
        line-height: 34px;
        position: static;
        margin: {
          left: 6px;
        }
        font: {
          size: 1rem;
          weight: 800;
        }
        &:hover,
        &.current {
          color: $color-whitish;
          background-color: $color-primary;
        }
        i {
          position: relative;
          top: 1.5px;
        }
      }
    }
  }
  .scorm-wrapper {
    background-color: $color-whitish;
    min-width: 60%;

    iframe {
      width: 100%;
      min-height: 600px;
      border: none;
    }
  }

  .close-btn-modal {
    position: fixed;
    top: 20px;
    right: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $color-text-primary-light;
    width: 50px;
    height: 50px;
    line-height: 50px;
    -moz-transition: 0.5s;
    transition: 0.5s;
    font-size: 50px;
  }
}
