@import "../../../../scss/common";

.cart-list {
  border: 1px solid $grey-border;
  border-radius: 8px;
  padding: 11px 14px;
  margin-bottom: 15px;
  background: $white;
  h3 {
    @include typo-paragraph-big();
    padding-bottom: 10px;
    border-bottom: 1px solid $grey-border;
    margin-bottom: 15px;
  }
  &.green {
    padding: 0;
    overflow: hidden;
    h3 {
      border-bottom: 0;
      display: block;
      margin: 0;
      padding: 10px 14px;
      height: 80px;
      // background-image: url(../../../../images/green-bottom.svg);
      background-size: cover;
      background-position: center;
      color: $white;
    }
    .content {
      padding: 11px 14px;
    }
  }
}
