name: static analysis

on:
  push:
    branches: [main]
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  static-analysis:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        #node-version: [10.x, 12.x, 14.x, 15.x]
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install and Build
        run: rm -rf ./node_modules && rm -f package-lock.json && npm i

      - name: ESLint
        run: ./node_modules/.bin/eslint --fix --max-warnings 25 src

      - name: TypeScript tsc
        run: ./node_modules/.bin/tsc --project tsconfig.json --noEmit
